<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IBulkSMSSoap">
          <security mode="Transport" />
        </binding>
        <binding name="IBulkSMSSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ismartsms.net/iBulkSMS/webservice/IBulkSMS.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBulkSMSSoap"
        contract="SMSService.IBulkSMSSoap" name="IBulkSMSSoap" />
    </client>
  </system.serviceModel>
</configuration>