@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Default stacked layout<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <ul class="media-list chat-stacked content-group">
            <li class="media date-step text-muted">
                <span>Saturday, Feb 12</span>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face3.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Margo Baker</a>
                        <span class="media-annotation pull-right">12:16 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    Goldfish indisputable vexed hello on held some gosh :-)
                </div>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face10.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Will Grace</a>
                        <span class="media-annotation pull-right">4:13 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    Wickedly darn before or after impeccably jeepers ouch misunderstood yikes much hello talkatively ineffectively hiccupped beyond usefully the alas prior shrugged instantaneously heroically
                </div>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face3.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Margo Baker</a>
                        <span class="media-annotation pull-right">02:53 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    Less insincerely hello far ungraceful near poured warthog hurt apart ouch wow that banal far made grew collective coasted inside
                </div>
            </li>

            <li class="media date-step text-muted">
                <span>Yesterday</span>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face10.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Will Grace</a>
                        <span class="media-annotation pull-right">7:50 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    Less a hello hey less saw vexedly pleasantly this much flamingo alas returned frighteningly some beneath jeez oh that overpaid oh within forlorn suddenly
                </div>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face3.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Margo Baker</a>
                        <span class="media-annotation pull-right">2:03 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    Heard where and affecting dear hyena excluding hey confused the one
                </div>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face3.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Margo Baker</a>
                        <span class="media-annotation pull-right">5:14 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    Messily changed much yet much this forbidding that so hey
                </div>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face10.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Will Grace</a>
                        <span class="media-annotation pull-right">1:30 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    And hello exotic staunch bee goodness expectant much combed fox placed far this at oh less opposite much factually
                </div>
            </li>

            <li class="media date-step text-muted">
                <span>Today</span>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face10.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Will Grace</a>
                        <span class="media-annotation pull-right">2:29 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    Besides lax yikes and a much deservedly much that constructively flexibly darn a one and and whooped without the and darn contemplated jokingly some ordered oh domestic possessive far
                </div>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face3.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Margo Baker</a>
                        <span class="media-annotation pull-right">8:20 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    So because one badger a over more impotent pending frustratingly gosh when
                </div>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face10.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Will Grace</a>
                        <span class="media-annotation pull-right">9:00 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                    Fantastic close echidna crud fatuously much extensively alas beat up far consoled manfully that far one owing one perversely jeepers some
                </div>
            </li>

            <li class="media">
                <div class="media-left"><img src="assets/images/demo/users/face3.jpg" class="img-circle img-md" alt=""></div>
                <div class="media-body media-middle">
                    <i class="icon-menu"></i>
                </div>
            </li>
        </ul>

        <textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

        <div class="row">
            <div class="col-xs-6">
                <ul class="icons-list icons-list-extended mt-10">
                    <li><a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Send photo"><i class="icon-file-picture"></i></a></li>
                    <li><a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Send video"><i class="icon-file-video"></i></a></li>
                    <li><a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Send file"><i class="icon-file-plus"></i></a></li>
                </ul>
            </div>

            <div class="col-xs-6 text-right">
                <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
            </div>
        </div>
    </div>
</div>

@section InlineScriptsRelated
{
    
}