@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal" action="#">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset>
                            <legend class="text-semibold">
                                <i class="fa fa-search position-left"></i>
                                Search Tickets
                                <div class="content-group pull-right">

                                    <a class="control-arrow mt-10" data-toggle="collapse" data-target="#demo1" aria-expanded="true">
                                        <i class="icon-circle-down2"></i>
                                    </a>
                                </div>

                            </legend>
                            <div class="collapse in" id="demo1" aria-expanded="true">

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Ticket ID</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control col-xs-6" id="txtSearchByApplicationID" name="txtSearchByApplicationID"
                                                       placeholder="Application ID">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Ticket Name</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control col-xs-6" id="txtSearchByApplicationName" name="txtSearchByApplicationName"
                                                       placeholder="Application Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr class="sp-1" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-xs" onclick="fnBindAllTickets();">Seach<i class="fa fa-search position-right"></i></button>
                            <button type="submit" class="btn bg-slate-300 btn-xs" onclick="fnClearSearch();">Clear</button>
                        </div>
                        <div class="row search-option-buttons">
                            <div class="col-sm-6">

                            </div>

                            <div class="col-sm-6 text-right">
                                <ul class="list-inline no-margin-bottom">
                                    <li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fakeWidth col-md-12"></div>
        <div id="dvTickets">
        </div>
    </div>
</div>

@section InlineScriptsRelated
{
    <script type="text/javascript">

        var sGridViewSelector = "grid-table";
        var sGridViewPagerSelector = "grid-pager";
        function fnBindAllTickets() {
            ShowLoader();
            $("#dvTickets").hide();
            $("#dvTickets").empty();
            var table = document.createElement('table');
            table.id = sGridViewSelector;
            var pager = document.createElement('div');
            pager.id = sGridViewPagerSelector;

            $('#dvTickets').append(table);
            $('#dvTickets').append(pager);

            var ConstantsNames =
                {
                    ID: 'ID',
                    TicketCode: 'TICKET_CODE',
                    TicketName: 'TICKET_NAME',
                    TicketDescription: 'TICKET_DESCRIPTION',
                    TicketStatusName: 'TICKET_STATUS_NAME',
                    TicketStatusRemark: 'TICKET_STATUS_REMARK',
                    IsActive: 'IS_ACTIVE',
                    CreatedDate: 'CREATED_DATE'
                };
            var sCaption = 'All Tickets';
            var oArrColumnNames = [
                '',//Hidden Columns Represent ID Int Value
                'Ticket Code',
                'Ticket Name',
                'Ticket Description',
                'Ticket Status',
                'Ticket Status Remark',
                'Is Active',
                'Created Date',
                'Options' // Options
            ];

            //string sIncidentNo,string sIncidentName,string sFromDate,string sToDate,
            //                           string sIncidentStatus,string sIncidentType

            @*var vSearchEventByName = $("#txtSearchEventByName").val();
            var params = {
                'sSearchByEventName': vSearchEventByName

            };
            var sBindDataUrl = '@Url.Action("JBindAllTickets", "Tickets")' + '?' + jQuery.param(params);*@
            var sBindDataUrl = '@Url.Action("JBindAllTickets", "Tickets")';

            var sAddUrl = "#";
            var sEditUrl = "#";
            var sDeleteUrl = "#";
            var oArrGridContextMenu = [
                                        { MenuTitle: "Options" },
                                        { Caption: "Details", EventName: "fnGoToTicketDetails();", RowId: true }
            ];
            var oArrColsModel = [
                    {
                        name: ConstantsNames.ID, editable: false,
                        key: true, hidden: true
                    },
                     {
                         name: ConstantsNames.TicketCode,
                         width: 150, editable: false,
                         align: EnumColumnsAlignment.Center
                     },
                    {
                        name: ConstantsNames.TicketName,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center
                    },
                    {
                        name: ConstantsNames.TicketDescription,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center
                    },
                    {
                        name: ConstantsNames.TicketStatusName,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center
                    },
                    {
                        name: ConstantsNames.TicketStatusRemark,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center
                    },
                    {
                        name: ConstantsNames.IsActive,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: function (cellvalue, options, rowObject) {
                            var bIsActive = rowObject.IS_ACTIVE;
                            var htmlString = '';
                            if (bIsActive) {
                                htmlString += "<i class='icon-checkmark-circle text-success position-left'></i>";
                            }
                            else {
                                htmlString += "<i class='icon-cancel-circle2 text-warning position-left'></i>";
                            }
                            return htmlString;
                        }
                    },
                    {
                        name: ConstantsNames.CreatedDate,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: 'date', formatoptions: { srcformat: 'U', newformat: 'd/m/Y' }
                    }
            ];

            RenderGridView(sCaption, oArrColumnNames, sBindDataUrl, '', '', '', oArrColsModel, oArrGridContextMenu, false, false, false, table.id, pager.id, true, false, true);
            $("#" + table.id).bind('jqGridLoadComplete.jqGrid', function (e, data) {
                $("#" + table.id).jqGrid('hideCol', 'cb'); //hide checkbox

                $(window).bind('resize', function () {
                    $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true));
                }).trigger('resize');


                $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true)).trigger('resize');

                $("#dvTickets").show();
                HideLoader();
            });
        }

        function fnGoToTicketDetails() {
            var gdTicket = $('#' + sGridViewSelector);
            var vTicketID = gdTicket.jqGrid('getGridParam', 'selrow');

            var link = '@Url.Action("TicketDetails", "Tickets", new { nTicketID = "replace" })';
            link = link.replace("replace", vTicketID);

            window.location.href = link;
        }

        //Entry Point
        $(document).ready(function () {
            fnBindAllTickets();
        });
    </script>
}