@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="text-center content-group">
    <h1 class="error-title offline-title" style="font-size:100px;">Access Denied</h1>
    <h5>Sorry, you do not have permission to access the requested page.</h5>
</div>
