@{
    Layout = "~/Views/Shared/_GridCommon.cshtml";
}
<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal" action="#">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset>
                            <legend class="text-semibold">
                                <i class="fa fa-search position-left"></i>
                                Search Application
                                <div class="content-group pull-right">

                                    <a class="control-arrow mt-10" data-toggle="collapse" data-target="#demo1" aria-expanded="true">
                                        <i class="icon-circle-down2"></i>
                                    </a>
                                </div>

                            </legend>
                            <div class="collapse in" id="demo1" aria-expanded="true">

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Application ID</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control col-xs-6" id="txtSearchByApplicationID" name="txtSearchByApplicationID"
                                                       placeholder="Application ID">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Application Name</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control col-xs-6" id="txtSearchByApplicationName" name="txtSearchByApplicationName"
                                                       placeholder="Application Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr class="sp-1" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-xs" onclick="fnBindAllApplications;">Seach<i class="fa fa-search position-right"></i></button>
                            <button type="submit" class="btn bg-slate-300 btn-xs" onclick="fnClearSearch();">Clear</button>
                        </div>
                        <div class="row search-option-buttons">
                            <div class="col-sm-6">

                            </div>

                            <div class="col-sm-6 text-right">
                                <ul class="list-inline no-margin-bottom">
                                    <li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fakeWidth col-md-12"></div>
        <div id="dvApplications">
        </div>
    </div>
</div>

@section InlineScriptsRelated
{
    <script type="text/javascript">

        var sGridViewSelector = "grid-table";
        var sGridViewPagerSelector = "grid-pager";
        function fnBindAllApplications() {
            ShowLoader();
            $("#dvApplications").hide();
            $("#dvApplications").empty();
            var table = document.createElement('table');
            table.id = sGridViewSelector;
            var pager = document.createElement('div');
            pager.id = sGridViewPagerSelector;

            $('#dvApplications').append(table);
            $('#dvApplications').append(pager);

            var ConstantsNames =
                {
                    ID: 'ID',
                    ApplicationName: 'APPLICATION_NAME',
                    ApplicationLogoPath: 'APPLICATION_LOGO_PATH',
                    DefaultThemeColor: 'DEFAULT_THEME_COLOR',
                    ApplicationExpiryDate: 'APPLICATION_EXPIRY_DATE',
                    IsActive: 'IS_ACTIVE',
                    CreatedDate: 'CREATED_DATE'
                };
            var sCaption = 'All Applications';
            var oArrColumnNames = [
                '',//Hidden Columns Represent ID Int Value
                '',//Hidden Columns Represent APPLICATION_LOGO_PATH String Value
                'Application Name',
                'Application Expiry Date',
                'Is Active',
                'Created Date',
                'Options' // Options
            ];

            //string sIncidentNo,string sIncidentName,string sFromDate,string sToDate,
            //                           string sIncidentStatus,string sIncidentType

            var vSearchByApplicationID = $("#txtSearchByApplicationID").val() == "" ? -99 : $("#txtSearchByApplicationID").val();
            var vSearchByApplicationName = $("#txtSearchByApplicationName").val();
            var params = {
                'nSearchByApplicationID': vSearchByApplicationID,
                'sSearchByApplicationName': vSearchByApplicationName

            };
            var sBindDataUrl = '@Url.Action("JBindAllApplications", "Applications")' + '?' + jQuery.param(params);

            var sAddUrl = "#";
            var sEditUrl = "#";
            var sDeleteUrl = "#";
            var oArrGridContextMenu = [
                                        { MenuTitle: "Options" },
                                        { Caption: "Details", EventName: "fnGoToApplicationDetais();", RowId: true },
            ];
            var oArrColsModel = [
                    {
                        name: ConstantsNames.ID, editable: false,
                        key: true, hidden: true
                    },
                    {
                        name: ConstantsNames.ApplicationLogoPath, editable: false,
                        key: false, hidden: true
                    },
                    {
                        name: ConstantsNames.ApplicationName,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center
                    },
                    {
                        name: ConstantsNames.ApplicationExpiryDate,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: 'date', formatoptions: { srcformat: 'U', newformat: 'd/m/Y' }
                    },
                    {
                        name: ConstantsNames.IsActive,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: function (cellvalue, options, rowObject) {
                            var bIsActive = rowObject.IS_ACTIVE;
                            var htmlString = '';
                            if (bIsActive) {
                                htmlString += "<i class='icon-checkmark-circle text-success position-left'></i>";
                            }
                            else {
                                htmlString += "<i class='icon-cancel-circle2 text-warning position-left'></i>";
                            }
                            return htmlString;
                        }
                    },
                    {
                        name: ConstantsNames.CreatedDate,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: 'date', formatoptions: { srcformat: 'U', newformat: 'd/m/Y' }
                    }
            ];

            RenderGridView(sCaption, oArrColumnNames, sBindDataUrl, '', '', '', oArrColsModel, oArrGridContextMenu, false, false, false, table.id, pager.id, true, false, true);
            $("#" + table.id).bind('jqGridLoadComplete.jqGrid', function (e, data) {
                $("#" + table.id).jqGrid('hideCol', 'cb'); //hide checkbox

                $(window).bind('resize', function () {
                    $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true));
                }).trigger('resize');


                $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true)).trigger('resize');

                $("#dvApplications").show();
                HideLoader();
            });
        }

        function fnClearSearch() {
            $("#txtSearchByApplicationID").val("");
            $("#txtSearchByApplicationName").val("");
        }

        function fnGoToApplicationDetais() {

            var gdApplicationist = $('#' + sGridViewSelector);
            var vApplicationID = gdApplicationist.jqGrid('getGridParam', 'selrow');
            $.ajax({
                url: '@Url.Action("JSetCurrentApplicationID", "Applications")',
                type: 'POST',
                data: { nApplicationID: vApplicationID },
                async: true,
                success: function (result, response) {
                    if (result.nResult == 1) {
                        url = '@Url.Action("ApplicationsDetails", "Applications")';
                        window.location.href = url;

                    }
                    else {
                        ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                    }
                },
                error: function (result, response) {
                    ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                }
            });

        
        }

        //Entry Point
        $(document).ready(function () {
            fnBindAllApplications();
        });
    </script>
}