@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="table-responsive">
    <div class="panel panel-flat mb-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Application Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>Eugene</td>
                    <td>Kopyov</td>
                    <td>@@Kopyov</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Basic table</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Eugene</td>
                    <td>Kopyov</td>
                    <td>@@Kopyov</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Victoria</td>
                    <td>Baker</td>
                    <td>@@Vicky</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>James</td>
                    <td>Alexander</td>
                    <td>@@Alex</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Franklin</td>
                    <td>Morrison</td>
                    <td>@@Frank</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@*<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal" action="#">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset>
                            <legend class="text-semibold">
                                <i class="fa fa-search position-left"></i>
                                Search Application
                                <div class="content-group pull-right">

                                    <a class="control-arrow mt-10" data-toggle="collapse" data-target="#demo1" aria-expanded="true">
                                        <i class="icon-circle-down2"></i>
                                    </a>
                                </div>

                            </legend>
                            <div class="collapse in" id="demo1" aria-expanded="true">

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Application ID</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control col-xs-6" id="txtSearchByApplicaitonID" name="txtSearchByApplicaitonID"
                                                       placeholder="Application ID">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Application Name</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control col-xs-6" id="txtSearchByApplicationName" name="txtSearchByApplicationName"
                                                       placeholder="Application Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr class="sp-1" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-xs" onclick="IncidentManagement.PageFunctions.BindAllPreliminaries();">Seach<i class="fa fa-search position-right"></i></button>
                            <button type="submit" class="btn bg-slate-300 btn-xs" onclick="IncidentManagement.PageFunctions.ClearSearch();">Clear</button>
                        </div>
                        <div class="row search-option-buttons">
                            <div class="col-sm-6">

                            </div>

                            <div class="col-sm-6 text-right">
                                <ul class="list-inline no-margin-bottom">
                                    <li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fakeWidth col-md-12"></div>
        <div id="dvIncidents">
        </div>
    </div>
</div>*@

@section InlineScriptsRelated
{
    
}