@{
    Layout = "~/Views/Shared/_AppDetailsLayout.cshtml";
}

<div class="table-responsive">
    <div class="panel panel-flat mb-5">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Application Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Eugene</td>
                    <td>Kopyov</td>
                    <td>@@Kopyov</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Basic table</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Eugene</td>
                    <td>Kopyov</td>
                    <td>@@Kopyov</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Victoria</td>
                    <td>Baker</td>
                    <td>@@Vicky</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>James</td>
                    <td>Alexander</td>
                    <td>@@Alex</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Franklin</td>
                    <td>Morrison</td>
                    <td>@@Frank</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@*<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal" action="#">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset>
                            <legend class="text-semibold">
                                <i class="fa fa-search position-left"></i>
                                Search Application
                                <div class="content-group pull-right">

                                    <a class="control-arrow mt-10" data-toggle="collapse" data-target="#demo1" aria-expanded="true">
                                        <i class="icon-circle-down2"></i>
                                    </a>
                                </div>

                            </legend>
                            <div class="collapse in" id="demo1" aria-expanded="true">

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Application ID</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control col-xs-6" id="txtSearchByApplicaitonID" name="txtSearchByApplicaitonID"
                                                       placeholder="Application ID">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Application Name</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control col-xs-6" id="txtSearchByApplicationName" name="txtSearchByApplicationName"
                                                       placeholder="Application Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr class="sp-1" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-xs" onclick="IncidentManagement.PageFunctions.BindAllPreliminaries();">Seach<i class="fa fa-search position-right"></i></button>
                            <button type="submit" class="btn bg-slate-300 btn-xs" onclick="IncidentManagement.PageFunctions.ClearSearch();">Clear</button>
                        </div>
                        <div class="row search-option-buttons">
                            <div class="col-sm-6">

                            </div>

                            <div class="col-sm-6 text-right">
                                <ul class="list-inline no-margin-bottom">
                                    <li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fakeWidth col-md-12"></div>
        <div id="dvIncidents">
        </div>
    </div>
</div>*@

@section InlineScriptsRelated
{
    <script type="text/javascript">

        var sGridViewSelector = "grid-table";
        var sGridViewPagerSelector = "grid-pager";
        function fnBindAllApplications() {
            //ShowLoader();
            $("#dvIncidents").hide();
            $("#dvIncidents").empty();

            var table = document.createElement('table');
            table.id = sGridViewSelector;
            var pager = document.createElement('div');
            pager.id = sGridViewPagerSelector;

            $('#dvIncidents').append(table);
            $('#dvIncidents').append(pager);

            var ConstantsNames =
                {
                    ID: 'INCIDENT_ID',
                    IncidentNo: 'INCIDENT_NO',
                    IncidentName: 'INCIDENT_NAME',
                    IncidentTypeName: 'INCIDENT_TYPE_NAME',
                    IncidentStatusName: 'INC_STATUS_NAME',
                    IncidentStatusID: 'INC_STATUS_ID',
                    TRMStatusID: 'INC_TRM_STATUS_ID',
                    TRMStatusName: 'INC_TRM_STATUS_NAME',
                    IncidentDueDate: 'INCIDENT_DUE_DATE',
                    IncidentDate: 'INCIDENT_DATE',
                    IsPrelminiaryCreated: 'IS_PRELIMINARY_CREATED',
                    IsTRMRequired: 'IS_TRM_REQUIRED',
                    IsTRMCreated: 'IS_TRM_CREATED',
                    DeclarationDate: 'DECLARATION_DATE',
                    DeclarationTime: 'DECLARATION_TIME'
                };
            var sCaption = 'Incidents';
            var oArrColumnNames = [
                '',//Hidden Columns Represent IncidentID Int Value
                '',//Hidden Columns Represent INCIDENT_NO String Value
                '',//Hidden Columns Represent INCIDENT_DATE String Value
                '',//Hidden Columns Represent IS_TRM_REQUIRED bool Value
                '',//Hidden Columns Represent IS_PRELIMINARY_CREATED bool Value
                '',//Hidden Columns Represent IS_TRM_CREATED bool Value
                '',//Hidden Columns Represent INC_STATUS_ID bool Value
                '',//Hidden Columns Represent INC_TRM_STATUS_ID bool Value
                '',//Hidden Columns Represent INC_TRM_STATUS_NAME String Value
                '',//Hidden Columns Represent DECLARATION_DATE String Value
                '',//Hidden Columns Represent DECLARATION_TIME String Value
                'Incident No',
                'Incident Name',
                'Incident Type',
                'Incident Status',
                'Incident Date',
                'Is IFR Required',
                'Status',//all status'
                'Options' // Options
            ];

            //string sIncidentNo,string sIncidentName,string sFromDate,string sToDate,
            //                           string sIncidentStatus,string sIncidentType

            var sIncidentNo = $("#txtSearchByIncidentNo").val();
            var sIncidentName = $("#txtSearchByIncidentName").val();
            var dtFromDate = $("#txtSearchFromDate").val();
            var dtToDate = $("#txtSearchToDate").val();

            var nIncidentStatus = $("#ddlIncidentStatus").val();
            nIncidentStatus = nIncidentStatus == "-99" ? -99 : Number(nIncidentStatus);

            var nTRMStatus = $("#ddlTRMStatus").val();
            nTRMStatus = nTRMStatus == "-99" ? -99 : Number(nTRMStatus);

            var vnIncidentTypeID = -99;
            if ($('#rbtnSearchByNormal').is(':checked')) {
                vnIncidentTypeID = 1;
            }
            else if ($('#rbtnSearchBySignificant').is(':checked')) {
                vnIncidentTypeID = 2;
            }

            var nAdvancedSearchAreaID = $("#ddlAdvancedSearchArea").val();
            nAdvancedSearchAreaID = nAdvancedSearchAreaID == "" ? -99 : Number(nAdvancedSearchAreaID);

            var nAdvancedSearchStationID = $("#ddlAdvancedSearchStation").val();
            nAdvancedSearchStationID = nAdvancedSearchStationID == "" ? -99 : Number(nAdvancedSearchStationID);

            var nAdvancedSearchReasonID = $("#ddlAdvancedSearchReason").val();
            nAdvancedSearchReasonID = nAdvancedSearchReasonID == "" ? -99 : Number(nAdvancedSearchReasonID);

            var params = {
                'sIncidentNo': sIncidentNo,
                'sIncidentName': sIncidentName,
                'sFromDate': dtFromDate,
                'sToDate': dtToDate,
                'nIncidentStatusID': nIncidentStatus,
                'nTRMStatusID': nTRMStatus,
                'nIncidentTypeID': vnIncidentTypeID,
                'nAdvancedSearchAreaID': nAdvancedSearchAreaID,
                'nAdvancedSearchStationID': nAdvancedSearchStationID,
                'nAdvancedSearchReasonID': nAdvancedSearchReasonID

            };
            var sBindDataUrl = '@Url.Action("JGetAllPrelminiaries", "Preliminary")' + '?' + jQuery.param(params);

            var sAddUrl = "#";
            var sEditUrl = "#";
            var sDeleteUrl = "#";
            var oArrGridContextMenu = [
                                        { MenuTitle: "Options" },
                                        { Caption: "Preliminary", EventName: "IncidentManagement.PageFunctions.GoToPreliminary();", RowId: true },
                                        { Caption: "Declaration", EventName: "IncidentManagement.PageFunctions.GoToDeclaration();", RowId: true },
                                        { Caption: "View Summary", EventName: "IncidentManagement.PageFunctions.IncidentDetails();", RowId: true },
                                        { Caption: "Update IFR Status", EventName: "IncidentManagement.PageFunctions.ShowUpdateTRMPopUp();", RowId: true },
                                        { Caption: "Close Incident", EventName: "IncidentManagement.PageFunctions.CloseIncident();", RowId: true },
                                        { Caption: "Re-Open Incident", EventName: "IncidentManagement.PageFunctions.ReOpenIncident();", RowId: true },
            ];
            var oArrColsModel = [
                    {
                        name: ConstantsNames.ID, editable: false,
                        key: true, hidden: true
                    },
                    {
                        name: ConstantsNames.IncidentNo, editable: false,
                        key: false, hidden: true
                    },
                    {
                        name: ConstantsNames.IncidentDate, editable: false,
                        key: false, hidden: true
                    },
                    {
                        name: ConstantsNames.IsTRMRequired, editable: false,
                        key: false, hidden: true
                    },
                    {
                        name: ConstantsNames.IsPrelminiaryCreated, editable: false,
                        key: false, hidden: true
                    },
                     {
                         name: ConstantsNames.IsTRMCreated, editable: false,
                         key: false, hidden: true
                     },
                    {
                        name: ConstantsNames.IncidentStatusID, editable: false,
                        key: false, hidden: true
                    },
                      {
                          name: ConstantsNames.TRMStatusID, editable: false,
                          key: false, hidden: true
                      },
                    {
                        name: ConstantsNames.TRMStatusName, editable: false,
                        key: false, hidden: true
                    },
                  {
                      name: ConstantsNames.DeclarationDate, editable: false,
                      key: false, hidden: true
                  },
                  {
                      name: ConstantsNames.DeclarationTime, editable: false,
                      key: false, hidden: true
                  },
                    {
                        width: 150,
                        editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: function (cellvalue, options, rowObject) {
                            var url = '';
                            var bIsPrelminaryCreated = rowObject.IS_PRELIMINARY_CREATED;
                            if (bIsPrelminaryCreated) {
                                url = '@Url.Action("ManagePreliminary", "Preliminary", new { area = "IncidentManagement" })' + '?incid=' + rowObject.INCIDENT_ID + '&mode=e';
                            }
                            else {
                                url = '@Url.Action("ManagePreliminary", "Preliminary", new { area = "IncidentManagement" })' + '?incid=' + rowObject.INCIDENT_ID + '&mode=a';
                            }

                            return "<div class='text-semibold'><a href='" + url + "'>" + rowObject.INCIDENT_NO + "</a></div>";
                        }
                    },
                    {
                        name: ConstantsNames.IncidentName,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center
                    },
                    {
                        name: ConstantsNames.IncidentTypeName,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center
                    },
                    {
                        name: ConstantsNames.IncidentStatusName,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: function (cellvalue, options, rowObject) {
                            var html = '';

                            if (rowObject.INC_STATUS_ID == enmIncidentStatus.Open || rowObject.INC_STATUS_ID == enmIncidentStatus.Preliminary || rowObject.INC_STATUS_ID == enmIncidentStatus.TRMRequested) {
                                var html = '<span class="label label-default">' + cellvalue + '</span>';
                            }
                            else if (rowObject.INC_STATUS_ID == enmIncidentStatus.TRMRevision) {
                                var html = '<span class="label label-danger ">' + cellvalue + '</span>';
                            }
                            else if (rowObject.INC_STATUS_ID == enmIncidentStatus.ClosedWOTRM) {
                                var html = '<span class="label label-warning">' + cellvalue + '</span>';
                            }
                            else if (rowObject.INC_STATUS_ID == enmIncidentStatus.Closed) {
                                var html = '<span class="label label-success">' + cellvalue + '</span>';
                            }
                            return html;
                        }
                    },
                    {
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: function (cellvalue, options, rowObject) {
                            var htmlString = '';
                            htmlString += "<div class='media-body'>";
                            htmlString += "<a href='#' class='display-inline-block text-default text-semibold letter-icon-title'>" + rowObject.INCIDENT_DATE + "</a>";
                            htmlString += "<div class='text-muted text-size-small'><span class='icon-size-small-12px icon-circles2'></span> Due - " + rowObject.INCIDENT_DUE_DATE + "</div>";
                            htmlString += "</div>";

                            return htmlString;
                        }
                    },
                     {
                         width: 150, editable: false,
                         align: EnumColumnsAlignment.Center,
                         formatter: function (cellvalue, options, rowObject) {
                             var bIsTrmRequired = rowObject.IS_TRM_REQUIRED;
                             var htmlString = '';
                             htmlString += "<div class='media-body'>";
                             htmlString += fnGenerateStatus(bIsTrmRequired);
                             if (bIsTrmRequired) {
                                 htmlString += "<div class='text-muted text-size-mini'><span class='icon-size-small-12px icon-circles2'></span> IFR Status - " + (rowObject.INC_TRM_STATUS_NAME == "New" ? "Requested" : rowObject.INC_TRM_STATUS_NAME) + "</div>";
                             }
                             htmlString += "</div>";
                             return htmlString;
                         }
                     },
                    {
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: function (cellvalue, options, rowObject) {
                            var bIsTrmRequired = rowObject.IS_TRM_REQUIRED;
                            var htmlString = '';
                            htmlString += "<div class='media-body'>";
                            htmlString += "<a href='#' class='display-inline-block text-default text-semibold letter-icon-title'>Prelmnry</a>";
                            htmlString += fnGenerateStatus(rowObject.IS_PRELIMINARY_CREATED);
                            htmlString += "</div>";
                            if (bIsTrmRequired) {
                                htmlString += "<div class='media-body'>";
                                htmlString += "<a href='#' class='display-inline-block text-default text-semibold letter-icon-title'>IFR</a>";
                                var bIsTrmCreated = rowObject.IS_TRM_CREATED;
                                if (bIsTrmCreated) {
                                    htmlString += "<div class='text-muted text-size-mini'><i class='icon-checkmark3 text-success'></i></div>";
                                }
                                else {
                                    htmlString += "<div class='text-muted text-size-mini'><i class='icon-hour-glass2 text-warning-400'></i></div>";
                                }
                                htmlString += "</div>";
                            }

                            return htmlString;
                        }
                    }
            ];

            RenderGridView(sCaption, oArrColumnNames, sBindDataUrl, '', '', '', oArrColsModel, oArrGridContextMenu, false, false, false, table.id, pager.id, true, false, true);
            $("#" + table.id).bind('jqGridLoadComplete.jqGrid', function (e, data) {
                CustomGridViewLoadComplete();
                $("#" + table.id).jqGrid('hideCol', 'cb'); //hide checkbox
                $("#gview_" + table.id + " > .ui-jqgrid-titlebar").hide() //hide gridview header

                $(window).bind('resize', function () {
                    $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true));
                }).trigger('resize');


                $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true)).trigger('resize');

                $("#dvIncidents").show();

                HideLoader();
            });
        }

        //Entry Point
        $(document).ready(function () {
            fnBindAllApplications();
        });
    </script>
}