create or replace PROCEDURE                  "GET_REGIONS" 
(
  PIN_REGION_CODE       IN NUMBER DEFAULT NULL
, CV_1                  OUT SYS_REFCURSOR
) AS 
BEGIN
OPEN CV_1 FOR
  SELECT 
        LCMR.REGION_CODE,
        LCMR.REGION_DESC_ARB,
        NVL(LCMR.REGION_DESC_ENG,LCMR.REGION_DESC_ARB) REGION_DESC_ENG
  FROM
        LCM_REGION LCMR
  WHERE
        LCMR.REGION_CODE = PIN_REGION_CODE OR PIN_REGION_CODE IS NULL;
  
END GET_REGIONS;
 



 create or replace PROCEDURE                  "GET_WILAYAT" 
(
  PIN_REGION_CODE       IN NUMBER
, PIN_WILAYAT_CODE      IN NUMBER DEFAULT NULL
, CV_1                  OUT SYS_REFCURSOR
) AS 
BEGIN
  
OPEN CV_1 FOR
  SELECT 
        LCMW.WILAYAT_CODE,
        LCMW.WILAYAT_DESC_ARB,
        NVL(LCMW.WILAYAT_DESC_ENG,LCMW.WILAYAT_DESC_ARB) WILAYAT_DESC_ENG
  FROM
        LCM_WILAYAT LCMW
  WHERE
        LCMW.REGION_CODE = PIN_REGION_CODE
        AND
        (LCMW.WILAYAT_CODE = PIN_WILAYAT_CODE OR PIN_WILAYAT_CODE IS NULL);
  
END GET_WILAYAT;
 


 create or replace PROCEDURE                  "GET_VILLAGE" 
(
 PIN_REGION_CODE        IN NUMBER
,PIN_WILAYAT_CODE       IN NUMBER
,PIN_VILLAGE_CODE       IN NUMBER DEFAULT NULL
, CV_1                  OUT SYS_REFCURSOR
) AS 
BEGIN
OPEN CV_1 FOR
  SELECT 
        LCMV.VILLAGE_CODE,
        LCMV.VILLAGE_DESC_ARB,
        NVL(LCMV.VILLAGE_DESC_ENG,LCMV.VILLAGE_DESC_ARB) VILLAGE_DESC_ENG
  FROM
        LCM_VILLAGE LCMV
  WHERE
        LCMV.REGION_CODE    = PIN_REGION_CODE
        AND
        LCMV.WILAYAT_CODE   = PIN_WILAYAT_CODE
        AND
        (LCMV.VILLAGE_CODE  = PIN_VILLAGE_CODE OR PIN_VILLAGE_CODE IS NULL);
  
END GET_VILLAGE;
 

 INNER JOIN LCM_REGION LCMR ON LCMR.REGION_CODE = LCTC.REGION_CODE
                            INNER JOIN LCM_WILAYAT LCMW ON LCMW.WILAYAT_CODE = LCTC.WILAYAT_CODE AND LCMW.REGION_CODE = LCTC.REGION_CODE
                            INNER JOIN LCM_VILLAGE LCMV ON LCMV.REGION_CODE = LCTC.REGION_CODE AND LCMV.WILAYAT_CODE = LCTC.WILAYAT_CODE AND LCMV.VILLAGE_CODE = LCTC.VILLAGE_CODE