<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <!-- Upload Folder-->
    <add key="FileServiceUploadFolder" value="~/UploadFolder/" />
  </appSettings>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>