USE [Takamul]
GO
/****** Object:  Table [dbo].[AREA_MASTER]    Script Date: 4/9/2017 9:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AREA_MASTER](
	[ID] [int] NULL,
	[AREA_CODE] [int] NULL,
	[AREA_DESC_ARB] [nvarchar](100) NULL,
	[AREA_DESC_ENG] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VILLAGE_MASTER]    Script Date: 4/9/2017 9:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VILLAGE_MASTER](
	[ID] [int] NULL,
	[AREA_CODE] [int] NULL,
	[WILAYAT_CODE] [int] NULL,
	[VILLAGE_CODE] [int] NULL,
	[VILLAGE_DESC_ARB] [nvarchar](100) NULL,
	[VILLAGE_DESC_ENG] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WILAYAT_MASTER]    Script Date: 4/9/2017 9:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WILAYAT_MASTER](
	[ID] [int] NULL,
	[AREA_CODE] [int] NULL,
	[AREA_MASTER_ID] [int] NULL,
	[WILAYAT_CODE] [int] NULL,
	[WILAYAT_DESC_ARB] [nvarchar](100) NULL,
	[WILAYAT_DESC_ENG] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AREA_MASTER] ([ID], [AREA_CODE], [AREA_DESC_ARB], [AREA_DESC_ENG]) VALUES (1, 1, N'محافظة مسقط', N'Muscat')
INSERT [dbo].[AREA_MASTER] ([ID], [AREA_CODE], [AREA_DESC_ARB], [AREA_DESC_ENG]) VALUES (6, 2, N'محافظة شمال الباطنة ', N'North Batinah')
INSERT [dbo].[AREA_MASTER] ([ID], [AREA_CODE], [AREA_DESC_ARB], [AREA_DESC_ENG]) VALUES (3, 3, N'محافظة مسندم', N'Musandam')
INSERT [dbo].[VILLAGE_MASTER] ([ID], [AREA_CODE], [WILAYAT_CODE], [VILLAGE_CODE], [VILLAGE_DESC_ARB], [VILLAGE_DESC_ENG]) VALUES (10500000, 1, 1, 1, N'مسقط', N'Muscat')
INSERT [dbo].[VILLAGE_MASTER] ([ID], [AREA_CODE], [WILAYAT_CODE], [VILLAGE_CODE], [VILLAGE_DESC_ARB], [VILLAGE_DESC_ENG]) VALUES (NULL, 1, 1, 3, N'البستان', N'Al Bustan')
INSERT [dbo].[VILLAGE_MASTER] ([ID], [AREA_CODE], [WILAYAT_CODE], [VILLAGE_CODE], [VILLAGE_DESC_ARB], [VILLAGE_DESC_ENG]) VALUES (NULL, 1, 1, 5, N'حرامل', N'Haramel')
GO
INSERT [dbo].[WILAYAT_MASTER] ([ID], [AREA_CODE], [AREA_MASTER_ID], [WILAYAT_CODE], [WILAYAT_DESC_ARB], [WILAYAT_DESC_ENG]) VALUES (105, 1, 1, 1, N'مسقط', N'Muscat')
INSERT [dbo].[WILAYAT_MASTER] ([ID], [AREA_CODE], [AREA_MASTER_ID], [WILAYAT_CODE], [WILAYAT_DESC_ARB], [WILAYAT_DESC_ENG]) VALUES (103, 1, 1, 2, N'السيب', N'Al-Seeb')
INSERT [dbo].[WILAYAT_MASTER] ([ID], [AREA_CODE], [AREA_MASTER_ID], [WILAYAT_CODE], [WILAYAT_DESC_ARB], [WILAYAT_DESC_ENG]) VALUES (101, 1, 1, 3, N'مــطــرح', N'Muttrah')
