
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center content-group">
    <h1 class="error-title offline-title">Error occured</h1>
    <h5>Sorry, An error has occured while processing your request.</h5>
</div>
