USE [Takamul]
GO
/****** Object:  Table [dbo].[APPLICATION_SETTINGS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPLICATION_SETTINGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[SETTINGS_NAME] [varchar](50) NULL,
	[SETTINGS_VALUE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APPLICATION_USERS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION_USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[USER_ID] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_APPLICATION_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[APPLICATIONS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPLICATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_NAME] [varchar](200) NULL,
	[APPLICATION_LOGO_PATH] [varchar](300) NULL,
	[DEFAULT_THEME_COLOR] [varchar](50) NULL,
	[APPLICATION_EXPIRY_DATE] [smalldatetime] NULL,
	[APPLICATION_TOKEN] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_APPLICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AREA_MASTER]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AREA_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AREA_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_AREA_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DB_LOGS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_LOGS](
	[ERROR_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SP_NAME] [nvarchar](500) NULL,
	[ERROR_DESC] [nvarchar](max) NULL,
	[CREATED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_DB_Logs] PRIMARY KEY CLUSTERED 
(
	[ERROR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[EVENT_NAME] [varchar](300) NULL,
	[EVENT_DESCRIPTION] [varchar](1000) NULL,
	[EVENT_DATE] [smalldatetime] NULL,
	[EVENT_LOCATION_NAME] [varchar](100) NULL,
	[EVENT_LATITUDE] [varchar](50) NULL,
	[EVENT_LONGITUDE] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_EVENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEMBER_INFO]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[USER_ID] [int] NULL,
	[MEMBER_INFO_TITLE] [varchar](50) NULL,
	[MEMBER_INFO_DESCRIPTION] [varchar](2000) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_MEMBER_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[NEWS_TITLE] [varchar](300) NULL,
	[NEWS_IMG_FILE_PATH] [varchar](500) NULL,
	[NEWS_CONTENT] [varchar](max) NULL,
	[IS_NOTIFY_USER] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_NEWS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKET_CHAT_DETAILS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKET_CHAT_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TICKET_ID] [int] NOT NULL,
	[REPLY_MESSAGE] [nvarchar](max) NULL,
	[REPLIED_DATE] [smalldatetime] NULL,
	[REPLY_FILE_PATH] [varchar](500) NULL,
	[TICKET_PARTICIPANT_ID] [int] NULL,
	[TICKET_CHAT_TYPE_ID] [int] NULL CONSTRAINT [DF_TICKET_CHAT_DETAILS_TICKET_CHAT_TYPE_ID]  DEFAULT ((1)),
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_TICKET_CHAT_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKET_CHAT_TYPES]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKET_CHAT_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHAT_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_TICKET_CHAT_TYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKET_PARTICIPANTS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_PARTICIPANTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TICKET_ID] [int] NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_TICKET_PARTICIPANTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TICKET_STATUS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKET_STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TICKET_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKETS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKETS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[TICKET_NAME] [varchar](300) NULL,
	[TICKET_DESCRIPTION] [varchar](1000) NULL,
	[DEFAULT_IMAGE] [varchar](500) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TICKET_STATUS_ID] [int] NULL,
	[TICKET_STATUS_REMARK] [varchar](1000) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_ISSUES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_DETAILS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[FULL_NAME] [varchar](100) NULL,
	[CIVIL_ID] [varchar](50) NULL,
	[ADDRESS] [varchar](300) NULL,
	[AREA_ID] [int] NULL,
	[WILAYAT_ID] [int] NULL,
	[VILLAGE_ID] [int] NULL,
	[OTP_NUMBER] [int] NULL,
	[IS_OTP_VALIDATED] [bit] NULL CONSTRAINT [DF_USER_DETAILS_IS_OTP_VALIDATED]  DEFAULT ((0)),
	[SMS_SENT_STATUS] [bit] NULL,
	[LAST_LOGGED_IN_DATE] [smalldatetime] NULL,
	[IS_TICKET_SUBMISSION_RESTRICTED] [bit] NULL,
	[TICKET_SUBMISSION_INTERVAL_DAYS] [int] NULL CONSTRAINT [DF_USER_DETAILS_TICKET_SUBMISSION_INTERVAL_DAYS]  DEFAULT ((0)),
	[NO_OF_TIMES_OTP_SEND] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_USER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_TYPES]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_USER_TYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[USER_TYPE_ID] [int] NULL,
	[PHONE_NUMBER] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[APPLICATION_ID] [int] NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_BLOCKED] [bit] NULL,
	[BLOCKED_REMARKS] [varchar](1000) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VILLAGE_MASTER]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VILLAGE_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VILLAGE_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_VILLAGE_NAME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WILAYAT_MASTER]    Script Date: 4/7/2017 9:39:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WILAYAT_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WILAYAT_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_WILAYAT_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[APPLICATION_USERS] ON 

INSERT [dbo].[APPLICATION_USERS] ([ID], [APPLICATION_ID], [USER_ID], [CREATED_BY], [CREATED_DATE]) VALUES (1, 1, 1, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[APPLICATION_USERS] ([ID], [APPLICATION_ID], [USER_ID], [CREATED_BY], [CREATED_DATE]) VALUES (2, 1, 2, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[APPLICATION_USERS] ([ID], [APPLICATION_ID], [USER_ID], [CREATED_BY], [CREATED_DATE]) VALUES (3, 1, 3, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[APPLICATION_USERS] OFF
SET IDENTITY_INSERT [dbo].[APPLICATIONS] ON 

INSERT [dbo].[APPLICATIONS] ([ID], [APPLICATION_NAME], [APPLICATION_LOGO_PATH], [DEFAULT_THEME_COLOR], [APPLICATION_EXPIRY_DATE], [APPLICATION_TOKEN], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, N'TakamulApp', N'Logo/Takamul.jpg', N'Blue', CAST(N'2020-04-04 00:00:00' AS SmallDateTime), N'1323', 1, 1, CAST(N'2017-04-06 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-06 00:00:00' AS SmallDateTime))
INSERT [dbo].[APPLICATIONS] ([ID], [APPLICATION_NAME], [APPLICATION_LOGO_PATH], [DEFAULT_THEME_COLOR], [APPLICATION_EXPIRY_DATE], [APPLICATION_TOKEN], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, N'Application 2', NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[APPLICATIONS] OFF
SET IDENTITY_INSERT [dbo].[AREA_MASTER] ON 

INSERT [dbo].[AREA_MASTER] ([ID], [AREA_NAME]) VALUES (1, N'Ruwi')
INSERT [dbo].[AREA_MASTER] ([ID], [AREA_NAME]) VALUES (2, N'Darsait')
INSERT [dbo].[AREA_MASTER] ([ID], [AREA_NAME]) VALUES (3, N'Mutrah')
SET IDENTITY_INSERT [dbo].[AREA_MASTER] OFF
SET IDENTITY_INSERT [dbo].[EVENTS] ON 

INSERT [dbo].[EVENTS] ([ID], [APPLICATION_ID], [EVENT_NAME], [EVENT_DESCRIPTION], [EVENT_DATE], [EVENT_LOCATION_NAME], [EVENT_LATITUDE], [EVENT_LONGITUDE], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, 1, N'Mathrubhumi AR Rahman Show', N'AR Rahman perfroming live concert in Dubai', CAST(N'2017-04-22 10:00:00' AS SmallDateTime), N'Dubai', N'23.602272', N'58.536431', 1, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[EVENTS] ([ID], [APPLICATION_ID], [EVENT_NAME], [EVENT_DESCRIPTION], [EVENT_DATE], [EVENT_LOCATION_NAME], [EVENT_LATITUDE], [EVENT_LONGITUDE], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, 1, N'Zig Zag Show', N'Mr.Pinky Live', CAST(N'2017-04-22 18:00:00' AS SmallDateTime), N'Dubai', N'23.602272', N'58.536431', 1, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[EVENTS] ([ID], [APPLICATION_ID], [EVENT_NAME], [EVENT_DESCRIPTION], [EVENT_DATE], [EVENT_LOCATION_NAME], [EVENT_LATITUDE], [EVENT_LONGITUDE], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (3, 1, N'Anandham Film Release', N'Film grand release', CAST(N'2017-04-25 00:00:00' AS SmallDateTime), N'Dubai', N'23.602272', N'58.536431', 1, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[EVENTS] OFF
SET IDENTITY_INSERT [dbo].[MEMBER_INFO] ON 

INSERT [dbo].[MEMBER_INFO] ([ID], [APPLICATION_ID], [USER_ID], [MEMBER_INFO_TITLE], [MEMBER_INFO_DESCRIPTION], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, 1, 2, N'Wilayat Admin', N'Wilayat level admin ', 1, CAST(N'2017-05-02 00:00:00' AS SmallDateTime), 1, CAST(N'2017-05-02 00:00:00' AS SmallDateTime))
INSERT [dbo].[MEMBER_INFO] ([ID], [APPLICATION_ID], [USER_ID], [MEMBER_INFO_TITLE], [MEMBER_INFO_DESCRIPTION], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, 1, 3, N'System Analyst', N'Analyst for comparing and analysing all the works', 1, CAST(N'2017-05-02 00:00:00' AS SmallDateTime), 1, CAST(N'2017-05-02 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[MEMBER_INFO] OFF
SET IDENTITY_INSERT [dbo].[NEWS] ON 

INSERT [dbo].[NEWS] ([ID], [APPLICATION_ID], [NEWS_TITLE], [NEWS_IMG_FILE_PATH], [NEWS_CONTENT], [IS_NOTIFY_USER], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, 1, N'Best time to remit india', N'News/remittance-cover-story.jpg', N'Indian rupees is continously strengthening for the last month just after BJP won in state level election with record poling. So market experts are advising residences to remit now to get good remitance rate towards India.', 1, 1, 1, CAST(N'2017-04-08 00:00:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[NEWS] OFF
SET IDENTITY_INSERT [dbo].[TICKET_CHAT_DETAILS] ON 

INSERT [dbo].[TICKET_CHAT_DETAILS] ([ID], [TICKET_ID], [REPLY_MESSAGE], [REPLIED_DATE], [REPLY_FILE_PATH], [TICKET_PARTICIPANT_ID], [TICKET_CHAT_TYPE_ID], [CREATED_BY], [CREATED_DATE]) VALUES (2, 1, N'This is not clear. Can you send images', CAST(N'2017-04-08 06:00:00' AS SmallDateTime), NULL, 1, 1, 1, CAST(N'2017-04-08 00:00:00' AS SmallDateTime))
INSERT [dbo].[TICKET_CHAT_DETAILS] ([ID], [TICKET_ID], [REPLY_MESSAGE], [REPLIED_DATE], [REPLY_FILE_PATH], [TICKET_PARTICIPANT_ID], [TICKET_CHAT_TYPE_ID], [CREATED_BY], [CREATED_DATE]) VALUES (4, 1, NULL, CAST(N'2017-04-08 09:40:00' AS SmallDateTime), N'1/1/face1.jpg', 2, 3, 2, CAST(N'2017-04-08 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[TICKET_CHAT_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[TICKET_CHAT_TYPES] ON 

INSERT [dbo].[TICKET_CHAT_TYPES] ([ID], [CHAT_TYPE]) VALUES (1, N'text')
INSERT [dbo].[TICKET_CHAT_TYPES] ([ID], [CHAT_TYPE]) VALUES (2, N'png')
INSERT [dbo].[TICKET_CHAT_TYPES] ([ID], [CHAT_TYPE]) VALUES (3, N'jpg')
SET IDENTITY_INSERT [dbo].[TICKET_CHAT_TYPES] OFF
SET IDENTITY_INSERT [dbo].[TICKET_PARTICIPANTS] ON 

INSERT [dbo].[TICKET_PARTICIPANTS] ([ID], [TICKET_ID], [USER_ID]) VALUES (1, 1, 1)
INSERT [dbo].[TICKET_PARTICIPANTS] ([ID], [TICKET_ID], [USER_ID]) VALUES (2, 1, 2)
INSERT [dbo].[TICKET_PARTICIPANTS] ([ID], [TICKET_ID], [USER_ID]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[TICKET_PARTICIPANTS] OFF
SET IDENTITY_INSERT [dbo].[TICKET_STATUS] ON 

INSERT [dbo].[TICKET_STATUS] ([ID], [STATUS_NAME]) VALUES (1, N'Open')
INSERT [dbo].[TICKET_STATUS] ([ID], [STATUS_NAME]) VALUES (2, N'Closed')
INSERT [dbo].[TICKET_STATUS] ([ID], [STATUS_NAME]) VALUES (3, N'Rejected')
SET IDENTITY_INSERT [dbo].[TICKET_STATUS] OFF
SET IDENTITY_INSERT [dbo].[TICKETS] ON 

INSERT [dbo].[TICKETS] ([ID], [APPLICATION_ID], [TICKET_NAME], [TICKET_DESCRIPTION], [DEFAULT_IMAGE], [IS_ACTIVE], [TICKET_STATUS_ID], [TICKET_STATUS_REMARK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, 1, N'Residents in Shinaz area is not getting healthy drinling water', N'Shinaz area residents are facing issue with drinking water.', N'1/1/drinkingwater.jpg', 1, 1, NULL, 2, CAST(N'2017-04-05 00:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[TICKETS] ([ID], [APPLICATION_ID], [TICKET_NAME], [TICKET_DESCRIPTION], [DEFAULT_IMAGE], [IS_ACTIVE], [TICKET_STATUS_ID], [TICKET_STATUS_REMARK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, 1, N'There is no car parrking in Wataya area.', N'Car parking now become a deal in wataya area. Residents are parking cars in the road during night time. It is liike FCFS methodlogy.', NULL, 1, 1, NULL, 2, CAST(N'2017-04-05 00:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[TICKETS] ([ID], [APPLICATION_ID], [TICKET_NAME], [TICKET_DESCRIPTION], [DEFAULT_IMAGE], [IS_ACTIVE], [TICKET_STATUS_ID], [TICKET_STATUS_REMARK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (3, 1, N'Electricity disconneted', N'In Muwalla region thete is no eletricity for the last two weeks. No authority enquired about the till now.', N'1/3/EHC.jpg', 1, 1, NULL, 3, CAST(N'2017-04-06 00:00:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TICKETS] OFF
SET IDENTITY_INSERT [dbo].[USER_DETAILS] ON 

INSERT [dbo].[USER_DETAILS] ([ID], [USER_ID], [FULL_NAME], [CIVIL_ID], [ADDRESS], [AREA_ID], [WILAYAT_ID], [VILLAGE_ID], [OTP_NUMBER], [IS_OTP_VALIDATED], [SMS_SENT_STATUS], [LAST_LOGGED_IN_DATE], [IS_TICKET_SUBMISSION_RESTRICTED], [TICKET_SUBMISSION_INTERVAL_DAYS], [NO_OF_TIMES_OTP_SEND], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, 1, N'Admin', N'989898997', NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[USER_DETAILS] ([ID], [USER_ID], [FULL_NAME], [CIVIL_ID], [ADDRESS], [AREA_ID], [WILAYAT_ID], [VILLAGE_ID], [OTP_NUMBER], [IS_OTP_VALIDATED], [SMS_SENT_STATUS], [LAST_LOGGED_IN_DATE], [IS_TICKET_SUBMISSION_RESTRICTED], [TICKET_SUBMISSION_INTERVAL_DAYS], [NO_OF_TIMES_OTP_SEND], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, 2, N'Samh', N'989587451', NULL, 1, 1, 1, 1, 1, 1, CAST(N'2017-04-05 00:00:00' AS SmallDateTime), 0, 7, 1, 2, CAST(N'2017-04-05 00:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[USER_DETAILS] ([ID], [USER_ID], [FULL_NAME], [CIVIL_ID], [ADDRESS], [AREA_ID], [WILAYAT_ID], [VILLAGE_ID], [OTP_NUMBER], [IS_OTP_VALIDATED], [SMS_SENT_STATUS], [LAST_LOGGED_IN_DATE], [IS_TICKET_SUBMISSION_RESTRICTED], [TICKET_SUBMISSION_INTERVAL_DAYS], [NO_OF_TIMES_OTP_SEND], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (3, 3, N'Arshad', N'987676756', NULL, 1, 1, 1, 1, 1, 1, CAST(N'2017-04-02 00:00:00' AS SmallDateTime), 0, 5, 1, 2, CAST(N'2017-04-06 00:00:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[USER_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[USER_TYPES] ON 

INSERT [dbo].[USER_TYPES] ([ID], [TYPE]) VALUES (1, N'Admin')
INSERT [dbo].[USER_TYPES] ([ID], [TYPE]) VALUES (2, N'Member')
INSERT [dbo].[USER_TYPES] ([ID], [TYPE]) VALUES (3, N'Staff')
SET IDENTITY_INSERT [dbo].[USER_TYPES] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [USER_NAME], [PASSWORD], [USER_TYPE_ID], [PHONE_NUMBER], [EMAIL], [APPLICATION_ID], [IS_ACTIVE], [IS_BLOCKED], [BLOCKED_REMARKS], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, N'admin', N'admin', 1, N'056777766', N'admin@takamul.com', 1, 1, 0, NULL, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[USERS] ([ID], [USER_NAME], [PASSWORD], [USER_TYPE_ID], [PHONE_NUMBER], [EMAIL], [APPLICATION_ID], [IS_ACTIVE], [IS_BLOCKED], [BLOCKED_REMARKS], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, N'Samh', N'admin', 2, N'054333322', N'samh.k@gmail.com', 1, 1, 0, NULL, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[USERS] ([ID], [USER_NAME], [PASSWORD], [USER_TYPE_ID], [PHONE_NUMBER], [EMAIL], [APPLICATION_ID], [IS_ACTIVE], [IS_BLOCKED], [BLOCKED_REMARKS], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (3, N'Arshad', N'admin', 2, N'0527744972', N'arshad@gmail.com', 1, 1, 0, NULL, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[USERS] OFF
SET IDENTITY_INSERT [dbo].[VILLAGE_MASTER] ON 

INSERT [dbo].[VILLAGE_MASTER] ([ID], [VILLAGE_NAME]) VALUES (1, N'Muscat')
SET IDENTITY_INSERT [dbo].[VILLAGE_MASTER] OFF
SET IDENTITY_INSERT [dbo].[WILAYAT_MASTER] ON 

INSERT [dbo].[WILAYAT_MASTER] ([ID], [WILAYAT_NAME]) VALUES (1, N'Muscat')
SET IDENTITY_INSERT [dbo].[WILAYAT_MASTER] OFF
ALTER TABLE [dbo].[TICKET_CHAT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_CHAT_DETAILS_TICKETS] FOREIGN KEY([TICKET_ID])
REFERENCES [dbo].[TICKETS] ([ID])
GO
ALTER TABLE [dbo].[TICKET_CHAT_DETAILS] CHECK CONSTRAINT [FK_TICKET_CHAT_DETAILS_TICKETS]
GO
