USE [Takamul]
GO
/****** Object:  Table [dbo].[APPLICATION_ENTITIES]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPLICATION_ENTITIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ENTITY_NAME] [varchar](50) NULL,
	[ENTITY_CONTROLLER] [nchar](50) NULL,
 CONSTRAINT [PK_APPLICATION_ENTITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APPLICATION_PRIVILLAGES]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION_PRIVILLAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[APPLICATION_ENTITY_ID] [int] NULL,
	[IS_ADD_PERMISSION] [bit] NULL,
	[IS_EDIT_PERMISSION] [bit] NULL,
	[IS_DELETE_PERMISSION] [bit] NULL,
	[IS_VIEW_PERMISSION] [bit] NULL,
	[IS_REPORT_VIEW_PERMISSION] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_ROLE_PRIVILLAGES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[APPLICATION_SETTINGS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPLICATION_SETTINGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[SETTINGS_NAME] [varchar](50) NULL,
	[SETTINGS_VALUE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APPLICATION_USERS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION_USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[USER_ID] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_APPLICATION_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[APPLICATIONS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPLICATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_NAME] [varchar](200) NULL,
	[APPLICATION_LOGO_PATH] [varchar](300) NULL,
	[DEFAULT_THEME_COLOR] [varchar](50) NULL,
	[APPLICATION_EXPIRY_DATE] [smalldatetime] NULL,
	[APPLICATION_TOKEN] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_APPLICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AREA_MASTER]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AREA_MASTER](
	[ID] [int] NULL,
	[AREA_CODE] [varchar](50) NULL,
	[AREA_DESC_ARB] [nvarchar](100) NULL,
	[AREA_DESC_ENG] [nvarchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DB_LOGS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_LOGS](
	[ERROR_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SP_NAME] [nvarchar](500) NULL,
	[ERROR_DESC] [nvarchar](max) NULL,
	[CREATED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_DB_Logs] PRIMARY KEY CLUSTERED 
(
	[ERROR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[EVENT_NAME] [varchar](300) NULL,
	[EVENT_DESCRIPTION] [varchar](1000) NULL,
	[EVENT_DATE] [smalldatetime] NULL,
	[EVENT_LOCATION_NAME] [varchar](100) NULL,
	[EVENT_LATITUDE] [varchar](50) NULL,
	[EVENT_LONGITUDE] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_EVENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEMBER_INFO]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[MEMBER_INFO_TITLE] [varchar](50) NULL,
	[MEMBER_INFO_DESCRIPTION] [varchar](2000) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_MEMBER_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[NEWS_TITLE] [varchar](300) NULL,
	[NEWS_IMG_FILE_PATH] [varchar](500) NULL,
	[NEWS_CONTENT] [varchar](max) NULL,
	[IS_NOTIFY_USER] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_NEWS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKET_CHAT_DETAILS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKET_CHAT_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TICKET_ID] [int] NOT NULL,
	[REPLY_MESSAGE] [nvarchar](max) NULL,
	[REPLIED_DATE] [smalldatetime] NULL,
	[REPLY_FILE_PATH] [varchar](500) NULL,
	[TICKET_PARTICIPANT_ID] [int] NULL,
	[TICKET_CHAT_TYPE_ID] [int] NULL CONSTRAINT [DF_TICKET_CHAT_DETAILS_TICKET_CHAT_TYPE_ID]  DEFAULT ((1)),
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_TICKET_CHAT_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKET_CHAT_TYPES]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKET_CHAT_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHAT_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_TICKET_CHAT_TYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKET_PARTICIPANTS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_PARTICIPANTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TICKET_ID] [int] NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_TICKET_PARTICIPANTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TICKET_STATUS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKET_STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TICKET_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKETS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKETS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [int] NULL,
	[TICKET_CODE] [varchar](10) NULL,
	[TICKET_NAME] [varchar](300) NULL,
	[TICKET_DESCRIPTION] [varchar](1000) NULL,
	[DEFAULT_IMAGE] [varchar](500) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TICKET_STATUS_ID] [int] NULL,
	[TICKET_STATUS_REMARK] [varchar](1000) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_ISSUES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_DETAILS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[FULL_NAME] [varchar](100) NULL,
	[CIVIL_ID] [varchar](50) NULL,
	[ADDRESS] [varchar](300) NULL,
	[AREA_ID] [int] NULL,
	[WILAYAT_ID] [int] NULL,
	[VILLAGE_ID] [int] NULL,
	[OTP_NUMBER] [int] NULL,
	[IS_OTP_VALIDATED] [bit] NULL CONSTRAINT [DF_USER_DETAILS_IS_OTP_VALIDATED]  DEFAULT ((0)),
	[SMS_SENT_STATUS] [bit] NULL,
	[LAST_LOGGED_IN_DATE] [smalldatetime] NULL,
	[IS_TICKET_SUBMISSION_RESTRICTED] [bit] NULL,
	[TICKET_SUBMISSION_INTERVAL_DAYS] [int] NULL CONSTRAINT [DF_USER_DETAILS_TICKET_SUBMISSION_INTERVAL_DAYS]  DEFAULT ((0)),
	[NO_OF_TIMES_OTP_SEND] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
	[LAST_TICKET_SUBMISSION_DATE] [datetime] NULL,
 CONSTRAINT [PK_USER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_TYPES]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_USER_TYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[USER_TYPE_ID] [int] NULL,
	[PHONE_NUMBER] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[APPLICATION_ID] [int] NULL,
	[IS_ACTIVE] [bit] NULL CONSTRAINT [DF_USERS_IS_ACTIVE]  DEFAULT ((1)),
	[IS_BLOCKED] [bit] NULL CONSTRAINT [DF_USERS_IS_BLOCKED]  DEFAULT ((0)),
	[BLOCKED_REMARKS] [varchar](1000) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [smalldatetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VILLAGE_MASTER]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VILLAGE_MASTER](
	[ID] [int] NULL,
	[AREA_CODE] [varchar](50) NULL,
	[WILAYAT_CODE] [varchar](50) NULL,
	[VILLAGE_CODE] [varchar](50) NULL,
	[VILLAGE_DESC_ARB] [nvarchar](100) NULL,
	[VILLAGE_DESC_ENG] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WILAYAT_MASTER]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WILAYAT_MASTER](
	[ID] [int] NULL,
	[AREA_CODE] [varchar](50) NULL,
	[AREA_MASTER_ID] [varchar](50) NULL,
	[WILAYAT_CODE] [varchar](50) NULL,
	[WILAYAT_DESC_ARB] [nvarchar](100) NULL,
	[WILAYAT_DESC_ENG] [nvarchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[APPLICATION_ENTITIES] ON 

INSERT [dbo].[APPLICATION_ENTITIES] ([ID], [ENTITY_NAME], [ENTITY_CONTROLLER]) VALUES (1, N'Application Dashboard', NULL)
INSERT [dbo].[APPLICATION_ENTITIES] ([ID], [ENTITY_NAME], [ENTITY_CONTROLLER]) VALUES (2, N'Member Info', NULL)
INSERT [dbo].[APPLICATION_ENTITIES] ([ID], [ENTITY_NAME], [ENTITY_CONTROLLER]) VALUES (3, N'Tickets', NULL)
SET IDENTITY_INSERT [dbo].[APPLICATION_ENTITIES] OFF
SET IDENTITY_INSERT [dbo].[APPLICATION_USERS] ON 

INSERT [dbo].[APPLICATION_USERS] ([ID], [APPLICATION_ID], [USER_ID], [CREATED_BY], [CREATED_DATE]) VALUES (1, 1, 1, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[APPLICATION_USERS] ([ID], [APPLICATION_ID], [USER_ID], [CREATED_BY], [CREATED_DATE]) VALUES (2, 1, 2, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[APPLICATION_USERS] ([ID], [APPLICATION_ID], [USER_ID], [CREATED_BY], [CREATED_DATE]) VALUES (3, 1, 3, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[APPLICATION_USERS] OFF
SET IDENTITY_INSERT [dbo].[APPLICATIONS] ON 

INSERT [dbo].[APPLICATIONS] ([ID], [APPLICATION_NAME], [APPLICATION_LOGO_PATH], [DEFAULT_THEME_COLOR], [APPLICATION_EXPIRY_DATE], [APPLICATION_TOKEN], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, N'TakamulApp', N'Logo/Takamul.jpg', N'Blue', CAST(N'2020-04-04 00:00:00' AS SmallDateTime), N'1323', 1, 1, CAST(N'2017-04-06 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-06 00:00:00' AS SmallDateTime))
INSERT [dbo].[APPLICATIONS] ([ID], [APPLICATION_NAME], [APPLICATION_LOGO_PATH], [DEFAULT_THEME_COLOR], [APPLICATION_EXPIRY_DATE], [APPLICATION_TOKEN], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, N'Application 2', NULL, N'Blue', CAST(N'2020-04-04 00:00:00' AS SmallDateTime), NULL, 1, 1, CAST(N'2017-04-06 00:00:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[APPLICATIONS] OFF
INSERT [dbo].[AREA_MASTER] ([ID], [AREA_CODE], [AREA_DESC_ARB], [AREA_DESC_ENG]) VALUES (1, N'1', N'محافظة مسقط', N'Muscat')
INSERT [dbo].[AREA_MASTER] ([ID], [AREA_CODE], [AREA_DESC_ARB], [AREA_DESC_ENG]) VALUES (6, N'2', N'محافظة شمال الباطنة ', N'North Batinah')
INSERT [dbo].[AREA_MASTER] ([ID], [AREA_CODE], [AREA_DESC_ARB], [AREA_DESC_ENG]) VALUES (3, N'3', N'محافظة مسندم', N'Musandam')
SET IDENTITY_INSERT [dbo].[DB_LOGS] ON 

INSERT [dbo].[DB_LOGS] ([ERROR_ID], [SP_NAME], [ERROR_DESC], [CREATED_DATE]) VALUES (CAST(1 AS Numeric(18, 0)), N'InsertTicketChat', N'The INSERT statement conflicted with the FOREIGN KEY constraint "FK_TICKET_CHAT_DETAILS_TICKETS". The conflict occurred in database "Takamul", table "dbo.TICKETS", column ''ID''.', CAST(N'2017-05-04 21:42:00' AS SmallDateTime))
INSERT [dbo].[DB_LOGS] ([ERROR_ID], [SP_NAME], [ERROR_DESC], [CREATED_DATE]) VALUES (CAST(2 AS Numeric(18, 0)), N'UpdateProfileInformation', N'Conversion failed when converting the varchar value ''adsfasdfdf'' to data type int.', CAST(N'2017-05-09 20:34:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[DB_LOGS] OFF
SET IDENTITY_INSERT [dbo].[EVENTS] ON 

INSERT [dbo].[EVENTS] ([ID], [APPLICATION_ID], [EVENT_NAME], [EVENT_DESCRIPTION], [EVENT_DATE], [EVENT_LOCATION_NAME], [EVENT_LATITUDE], [EVENT_LONGITUDE], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, 1, N'Mathrubhumi AR Rahman Show', N'AR Rahman perfroming live concert in Dubai', CAST(N'2017-04-22 10:00:00' AS SmallDateTime), N'Dubai', N'23.602272', N'58.536431', 1, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[EVENTS] ([ID], [APPLICATION_ID], [EVENT_NAME], [EVENT_DESCRIPTION], [EVENT_DATE], [EVENT_LOCATION_NAME], [EVENT_LATITUDE], [EVENT_LONGITUDE], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, 1, N'Zig Zag Show', N'Mr.Pinky Live', CAST(N'2017-04-22 18:00:00' AS SmallDateTime), N'Dubai', N'23.602272', N'58.536431', 1, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[EVENTS] ([ID], [APPLICATION_ID], [EVENT_NAME], [EVENT_DESCRIPTION], [EVENT_DATE], [EVENT_LOCATION_NAME], [EVENT_LATITUDE], [EVENT_LONGITUDE], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (3, 1, N'Anandham Film Release', N'Film grand release', CAST(N'2017-04-25 00:00:00' AS SmallDateTime), N'Dubai', N'23.602272', N'58.536431', 1, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[EVENTS] OFF
SET IDENTITY_INSERT [dbo].[MEMBER_INFO] ON 

INSERT [dbo].[MEMBER_INFO] ([ID], [APPLICATION_ID], [MEMBER_INFO_TITLE], [MEMBER_INFO_DESCRIPTION], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, 1, N'Wilayat Admin', N'Wilayat level admin ', 1, CAST(N'2017-05-02 00:00:00' AS SmallDateTime), 1, CAST(N'2017-05-02 00:00:00' AS SmallDateTime))
INSERT [dbo].[MEMBER_INFO] ([ID], [APPLICATION_ID], [MEMBER_INFO_TITLE], [MEMBER_INFO_DESCRIPTION], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, 1, N'System Analyst', N'Analyst for comparing and analysing all the works', 1, CAST(N'2017-05-02 00:00:00' AS SmallDateTime), 1, CAST(N'2017-05-02 00:00:00' AS SmallDateTime))
INSERT [dbo].[MEMBER_INFO] ([ID], [APPLICATION_ID], [MEMBER_INFO_TITLE], [MEMBER_INFO_DESCRIPTION], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (4, 1, N'test', N'test', 1, CAST(N'2017-05-07 09:12:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[MEMBER_INFO] OFF
SET IDENTITY_INSERT [dbo].[NEWS] ON 

INSERT [dbo].[NEWS] ([ID], [APPLICATION_ID], [NEWS_TITLE], [NEWS_IMG_FILE_PATH], [NEWS_CONTENT], [IS_NOTIFY_USER], [IS_ACTIVE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, 1, N'Best time to remit india', N'News/remittance-cover-story.jpg', N'Indian rupees is continously strengthening for the last month just after BJP won in state level election with record poling. So market experts are advising residences to remit now to get good remitance rate towards India.', 1, 1, 1, CAST(N'2017-04-08 00:00:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[NEWS] OFF
SET IDENTITY_INSERT [dbo].[TICKET_CHAT_DETAILS] ON 

INSERT [dbo].[TICKET_CHAT_DETAILS] ([ID], [TICKET_ID], [REPLY_MESSAGE], [REPLIED_DATE], [REPLY_FILE_PATH], [TICKET_PARTICIPANT_ID], [TICKET_CHAT_TYPE_ID], [CREATED_BY], [CREATED_DATE]) VALUES (2, 1, N'This is not clear. Can you send images', CAST(N'2017-04-08 06:00:00' AS SmallDateTime), NULL, 1, 1, 1, CAST(N'2017-04-08 00:00:00' AS SmallDateTime))
INSERT [dbo].[TICKET_CHAT_DETAILS] ([ID], [TICKET_ID], [REPLY_MESSAGE], [REPLIED_DATE], [REPLY_FILE_PATH], [TICKET_PARTICIPANT_ID], [TICKET_CHAT_TYPE_ID], [CREATED_BY], [CREATED_DATE]) VALUES (4, 1, NULL, CAST(N'2017-04-08 09:40:00' AS SmallDateTime), N'1/1/face1.jpg', 2, 3, 2, CAST(N'2017-04-08 00:00:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[TICKET_CHAT_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[TICKET_CHAT_TYPES] ON 

INSERT [dbo].[TICKET_CHAT_TYPES] ([ID], [CHAT_TYPE]) VALUES (1, N'text')
INSERT [dbo].[TICKET_CHAT_TYPES] ([ID], [CHAT_TYPE]) VALUES (2, N'png')
INSERT [dbo].[TICKET_CHAT_TYPES] ([ID], [CHAT_TYPE]) VALUES (3, N'jpg')
SET IDENTITY_INSERT [dbo].[TICKET_CHAT_TYPES] OFF
SET IDENTITY_INSERT [dbo].[TICKET_PARTICIPANTS] ON 

INSERT [dbo].[TICKET_PARTICIPANTS] ([ID], [TICKET_ID], [USER_ID]) VALUES (1, 1, 1)
INSERT [dbo].[TICKET_PARTICIPANTS] ([ID], [TICKET_ID], [USER_ID]) VALUES (2, 1, 2)
INSERT [dbo].[TICKET_PARTICIPANTS] ([ID], [TICKET_ID], [USER_ID]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[TICKET_PARTICIPANTS] OFF
SET IDENTITY_INSERT [dbo].[TICKET_STATUS] ON 

INSERT [dbo].[TICKET_STATUS] ([ID], [STATUS_NAME]) VALUES (1, N'Open')
INSERT [dbo].[TICKET_STATUS] ([ID], [STATUS_NAME]) VALUES (2, N'Closed')
INSERT [dbo].[TICKET_STATUS] ([ID], [STATUS_NAME]) VALUES (3, N'Rejected')
SET IDENTITY_INSERT [dbo].[TICKET_STATUS] OFF
SET IDENTITY_INSERT [dbo].[TICKETS] ON 

INSERT [dbo].[TICKETS] ([ID], [APPLICATION_ID], [TICKET_CODE], [TICKET_NAME], [TICKET_DESCRIPTION], [DEFAULT_IMAGE], [IS_ACTIVE], [TICKET_STATUS_ID], [TICKET_STATUS_REMARK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, 1, N'4iLD1F60', N'Residents in Shinaz area is not getting healthy drinling water', N'Shinaz area residents are facing issue with drinking water.', N'1/1/drinkingwater.jpg', 1, 1, NULL, 2, CAST(N'2017-04-05 00:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[TICKETS] ([ID], [APPLICATION_ID], [TICKET_CODE], [TICKET_NAME], [TICKET_DESCRIPTION], [DEFAULT_IMAGE], [IS_ACTIVE], [TICKET_STATUS_ID], [TICKET_STATUS_REMARK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, 1, N'4gWCB4DD', N'There is no car parrking in Wataya area.', N'Car parking now become a deal in wataya area. Residents are parking cars in the road during night time. It is liike FCFS methodlogy.', NULL, 1, 1, NULL, 2, CAST(N'2017-04-05 00:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[TICKETS] ([ID], [APPLICATION_ID], [TICKET_CODE], [TICKET_NAME], [TICKET_DESCRIPTION], [DEFAULT_IMAGE], [IS_ACTIVE], [TICKET_STATUS_ID], [TICKET_STATUS_REMARK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (3, 1, N'9lRA8B36', N'Electricity disconneted', N'In Muwalla region thete is no eletricity for the last two weeks. No authority enquired about the till now.', N'1/3/EHC.jpg', 1, 1, NULL, 3, CAST(N'2017-04-06 00:00:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TICKETS] OFF
SET IDENTITY_INSERT [dbo].[USER_DETAILS] ON 

INSERT [dbo].[USER_DETAILS] ([ID], [USER_ID], [FULL_NAME], [CIVIL_ID], [ADDRESS], [AREA_ID], [WILAYAT_ID], [VILLAGE_ID], [OTP_NUMBER], [IS_OTP_VALIDATED], [SMS_SENT_STATUS], [LAST_LOGGED_IN_DATE], [IS_TICKET_SUBMISSION_RESTRICTED], [TICKET_SUBMISSION_INTERVAL_DAYS], [NO_OF_TIMES_OTP_SEND], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [LAST_TICKET_SUBMISSION_DATE]) VALUES (1, 1, N'Admin', N'989898997', NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[USER_DETAILS] ([ID], [USER_ID], [FULL_NAME], [CIVIL_ID], [ADDRESS], [AREA_ID], [WILAYAT_ID], [VILLAGE_ID], [OTP_NUMBER], [IS_OTP_VALIDATED], [SMS_SENT_STATUS], [LAST_LOGGED_IN_DATE], [IS_TICKET_SUBMISSION_RESTRICTED], [TICKET_SUBMISSION_INTERVAL_DAYS], [NO_OF_TIMES_OTP_SEND], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [LAST_TICKET_SUBMISSION_DATE]) VALUES (2, 2, N'Samh', N'989587451', NULL, 1, 1, 1, 1, 1, 1, CAST(N'2017-04-05 00:00:00' AS SmallDateTime), 0, 7, 1, 2, CAST(N'2017-04-05 00:00:00' AS SmallDateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[USER_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[USER_TYPES] ON 

INSERT [dbo].[USER_TYPES] ([ID], [TYPE]) VALUES (1, N'Admin')
INSERT [dbo].[USER_TYPES] ([ID], [TYPE]) VALUES (2, N'Member')
INSERT [dbo].[USER_TYPES] ([ID], [TYPE]) VALUES (3, N'Staff')
SET IDENTITY_INSERT [dbo].[USER_TYPES] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [USER_NAME], [PASSWORD], [USER_TYPE_ID], [PHONE_NUMBER], [EMAIL], [APPLICATION_ID], [IS_ACTIVE], [IS_BLOCKED], [BLOCKED_REMARKS], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (1, N'admin', N'admin', 1, N'056777766', N'admin@takamul.com', 1, 1, 0, NULL, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[USERS] ([ID], [USER_NAME], [PASSWORD], [USER_TYPE_ID], [PHONE_NUMBER], [EMAIL], [APPLICATION_ID], [IS_ACTIVE], [IS_BLOCKED], [BLOCKED_REMARKS], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (2, N'Samh', N'admin', 4, N'054333322', N'samh.k@gmail.com', 1, 1, 0, NULL, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime))
INSERT [dbo].[USERS] ([ID], [USER_NAME], [PASSWORD], [USER_TYPE_ID], [PHONE_NUMBER], [EMAIL], [APPLICATION_ID], [IS_ACTIVE], [IS_BLOCKED], [BLOCKED_REMARKS], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (3, N'Arshad', N'admin@123', 4, N'0527744972', N'arshad@gmail.com', 1, 1, 0, NULL, 1, CAST(N'2017-04-22 00:00:00' AS SmallDateTime), 1, CAST(N'2017-05-12 11:56:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[USERS] OFF
INSERT [dbo].[VILLAGE_MASTER] ([ID], [AREA_CODE], [WILAYAT_CODE], [VILLAGE_CODE], [VILLAGE_DESC_ARB], [VILLAGE_DESC_ENG]) VALUES (10500000, N'1', N'1', N'1', N'مسقط', N'Muscat')
INSERT [dbo].[VILLAGE_MASTER] ([ID], [AREA_CODE], [WILAYAT_CODE], [VILLAGE_CODE], [VILLAGE_DESC_ARB], [VILLAGE_DESC_ENG]) VALUES (NULL, N'1', N'1', N'3', N'البستان', N'Al Bustan')
INSERT [dbo].[VILLAGE_MASTER] ([ID], [AREA_CODE], [WILAYAT_CODE], [VILLAGE_CODE], [VILLAGE_DESC_ARB], [VILLAGE_DESC_ENG]) VALUES (NULL, N'1', N'1', N'5', N'حرامل', N'Haramel')
GO
INSERT [dbo].[WILAYAT_MASTER] ([ID], [AREA_CODE], [AREA_MASTER_ID], [WILAYAT_CODE], [WILAYAT_DESC_ARB], [WILAYAT_DESC_ENG]) VALUES (105, N'1', N'1', N'1', N'مسقط', N'Muscat')
INSERT [dbo].[WILAYAT_MASTER] ([ID], [AREA_CODE], [AREA_MASTER_ID], [WILAYAT_CODE], [WILAYAT_DESC_ARB], [WILAYAT_DESC_ENG]) VALUES (103, N'1', N'1', N'2', N'السيب', N'Al-Seeb')
INSERT [dbo].[WILAYAT_MASTER] ([ID], [AREA_CODE], [AREA_MASTER_ID], [WILAYAT_CODE], [WILAYAT_DESC_ARB], [WILAYAT_DESC_ENG]) VALUES (101, N'1', N'1', N'3', N'مــطــرح', N'Muttrah')
ALTER TABLE [dbo].[APPLICATION_PRIVILLAGES]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_PRIVILLAGES_ROLE_PRIVILLAGES] FOREIGN KEY([APPLICATION_ENTITY_ID])
REFERENCES [dbo].[APPLICATION_ENTITIES] ([ID])
GO
ALTER TABLE [dbo].[APPLICATION_PRIVILLAGES] CHECK CONSTRAINT [FK_ROLE_PRIVILLAGES_ROLE_PRIVILLAGES]
GO
ALTER TABLE [dbo].[APPLICATION_PRIVILLAGES]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_PRIVILLAGES_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[APPLICATION_PRIVILLAGES] CHECK CONSTRAINT [FK_ROLE_PRIVILLAGES_USERS]
GO
ALTER TABLE [dbo].[MEMBER_INFO]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_INFO_APPLICATIONS] FOREIGN KEY([APPLICATION_ID])
REFERENCES [dbo].[APPLICATIONS] ([ID])
GO
ALTER TABLE [dbo].[MEMBER_INFO] CHECK CONSTRAINT [FK_MEMBER_INFO_APPLICATIONS]
GO
ALTER TABLE [dbo].[TICKET_CHAT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_CHAT_DETAILS_TICKETS] FOREIGN KEY([TICKET_ID])
REFERENCES [dbo].[TICKETS] ([ID])
GO
ALTER TABLE [dbo].[TICKET_CHAT_DETAILS] CHECK CONSTRAINT [FK_TICKET_CHAT_DETAILS_TICKETS]
GO
ALTER TABLE [dbo].[USER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_USER_DETAILS_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[USER_DETAILS] CHECK CONSTRAINT [FK_USER_DETAILS_USERS]
GO
/****** Object:  StoredProcedure [dbo].[GetAllActiveEvents]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllActiveEvents]
	@Pin_ApplicationId INT = NULL,
	@Pin_EventId	INT = NULL
AS
BEGIN
	 
	SELECT 
	ID, 
	APPLICATION_ID,
	EVENT_NAME,
	EVENT_DESCRIPTION,
	EVENT_DATE,
	EVENT_LOCATION_NAME,
	EVENT_LATITUDE,
	EVENT_LONGITUDE,
	CREATED_BY,
	CREATED_DATE,
	MODIFIED_BY,
	MODIFIED_DATE,
	IS_ACTIVE
	FROM dbo.EVENTS  EN
	WHERE ( EN.APPLICATION_ID = @Pin_ApplicationId OR @Pin_ApplicationId IS NULL ) AND
	( EN.ID = @Pin_EventId  OR @Pin_EventId IS NULL )

	
END



GO
/****** Object:  StoredProcedure [dbo].[GetAllActiveNews]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get all news
-- =============================================
CREATE PROCEDURE [dbo].[GetAllActiveNews]
	@Pin_ApplicationId		int = NULL,
	@Pin_NewsId				int = NULL
AS
BEGIN
	SELECT 
		N.ID,
		N.APPLICATION_ID,
		N.IS_ACTIVE,
		N.IS_NOTIFY_USER,
		N.NEWS_TITLE,
		N.NEWS_CONTENT,
		N.NEWS_IMG_FILE_PATH
    FROM 
		 NEWS N
	WHERE
		N.IS_ACTIVE = 1 AND
		( N.ID = @Pin_NewsId  OR @Pin_NewsId IS NULL ) AND
		( N.APPLICATION_ID = @Pin_ApplicationId  OR @Pin_ApplicationId IS NULL )
	ORDER BY N.ID DESC
END











GO
/****** Object:  StoredProcedure [dbo].[GetAllActiveTickets]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get all tickets
-- =============================================
CREATE PROCEDURE [dbo].[GetAllActiveTickets]
	@Pin_ApplicationId		int = NULL,
	@Pin_TicketId			int = NULL,
	@Pin_UserId				int = NULL
AS
BEGIN
	SELECT 
		T.ID,
		T.APPLICATION_ID,
		T.TICKET_NAME,
		T.TICKET_STATUS_ID,
		T.DEFAULT_IMAGE,
		T.IS_ACTIVE,
		T.TICKET_DESCRIPTION,
		T.TICKET_STATUS_REMARK
    FROM 
		 TICKETS T
	INNER JOIN TICKET_PARTICIPANTS TP ON TP.TICKET_ID = T.ID
	WHERE
		T.IS_ACTIVE = 1 AND
		( T.ID = @Pin_TicketId  OR @Pin_TicketId IS NULL ) AND
		( TP.USER_ID = @Pin_UserId  OR @Pin_UserId IS NULL ) AND
		( T.APPLICATION_ID = @Pin_ApplicationId  OR @Pin_ApplicationId IS NULL )
	GROUP BY
		T.ID,
		T.APPLICATION_ID,
		T.TICKET_NAME,
		T.TICKET_STATUS_ID,
		T.DEFAULT_IMAGE,
		T.IS_ACTIVE,
		T.TICKET_DESCRIPTION,
		T.TICKET_STATUS_REMARK
	ORDER BY T.ID DESC
END











GO
/****** Object:  StoredProcedure [dbo].[GetAllApplications]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get all applications
-- =============================================
CREATE PROCEDURE [dbo].[GetAllApplications]
	@Pin_ApplicationId		int = null,
	@Pin_ApplicationName	varchar(200) = NULL,
	@Pin_PageNumber			INT = 1,
	@Pin_RowspPage			INT = 10
AS
BEGIN
	SELECT
		TotalCount = COUNT(*) OVER(),
		(
			SELECT UD.FULL_NAME FROM USER_DETAILS UD
			INNER JOIN USERS U ON U.ID = UD.USER_ID
			WHERE U.APPLICATION_ID = A.ID AND U.USER_TYPE_ID = 2 -- Member 
		) MemberName,
		A.ID,
		A.APPLICATION_NAME,
		A.APPLICATION_LOGO_PATH,
		A.APPLICATION_EXPIRY_DATE,
		A.DEFAULT_THEME_COLOR,
		A.IS_ACTIVE,
		A.CREATED_DATE
    FROM 
		 APPLICATIONS A
	WHERE 
		( A.ID = @Pin_ApplicationId or @Pin_ApplicationId is null ) and
		( A.APPLICATION_NAME like '%' + @Pin_ApplicationName + '%'  OR @Pin_ApplicationName IS NULL )
	Group By
		A.ID,
		A.APPLICATION_NAME,
		A.APPLICATION_LOGO_PATH,
		A.APPLICATION_EXPIRY_DATE,
		A.DEFAULT_THEME_COLOR,
		A.IS_ACTIVE,
		A.CREATED_DATE
	ORDER BY A.ID DESC
OFFSET ((@Pin_PageNumber - 1) * @Pin_RowspPage) ROWS
FETCH NEXT @Pin_RowspPage ROWS ONLY	
END












GO
/****** Object:  StoredProcedure [dbo].[GetAllAreas]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllAreas]
	 @AreaCode VARCHAR(5) = null
AS
BEGIN
	 SELECT [AREA_CODE] AREACODE,
	 [AREA_DESC_ARB] AREA_NAMEAR,
	 ISNULL([AREA_DESC_ENG], [AREA_DESC_ARB]) AREA_NAME
	 FROM [Takamul].[dbo].[AREA_MASTER]
END




GO
/****** Object:  StoredProcedure [dbo].[GetAllTickets]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get all tickets
-- =============================================
CREATE PROCEDURE [dbo].[GetAllTickets]
	@Pin_ApplicationId			int = NULL,
	@Pin_TicketId				int = NULL,
	@Pin_UserId					int = NULL,
	@Pin_TicketStatusId			int = NULL,
	@Pin_TicketCode				varchar(10) = NULL,
	@Pin_TicketName				varchar(300) = NULL,
	@Pin_PageNumber				INT = 1,
	@Pin_RowspPage				INT = 10
AS
BEGIN
	SELECT 
		TotalCount = COUNT(*) OVER(),
		T.ID,
		T.APPLICATION_ID,
		T.TICKET_CODE,
		T.TICKET_NAME,
		T.TICKET_STATUS_ID,
		T.DEFAULT_IMAGE,
		T.IS_ACTIVE,
		T.TICKET_DESCRIPTION,
		T.TICKET_STATUS_REMARK,
		T.CREATED_BY,
		T.CREATED_DATE,
		TS.STATUS_NAME TICKET_STATUS_NAME
    FROM 
		 TICKETS T
	INNER JOIN TICKET_PARTICIPANTS TP ON TP.TICKET_ID = T.ID
	INNER JOIN TICKET_STATUS TS ON TS.ID = T.TICKET_STATUS_ID
	WHERE
		( T.ID = @Pin_TicketId  OR @Pin_TicketId IS NULL ) AND
		( TP.USER_ID = @Pin_UserId  OR @Pin_UserId IS NULL ) AND
		( T.APPLICATION_ID = @Pin_ApplicationId  OR @Pin_ApplicationId IS NULL ) and
		( T.TICKET_STATUS_ID = @Pin_TicketStatusId  OR @Pin_TicketStatusId IS NULL ) and
		( T.TICKET_CODE = @Pin_TicketCode  OR @Pin_TicketCode IS NULL ) and
		( T.TICKET_NAME like '%' + @Pin_TicketName + '%'  OR @Pin_TicketName IS NULL )
	GROUP BY
		T.ID,
		T.APPLICATION_ID,
		T.TICKET_CODE,
		T.TICKET_NAME,
		T.TICKET_STATUS_ID,
		T.DEFAULT_IMAGE,
		T.IS_ACTIVE,
		T.TICKET_DESCRIPTION,
		T.TICKET_STATUS_REMARK,
		T.CREATED_BY,
		T.CREATED_DATE,
		TS.STATUS_NAME
	ORDER BY T.ID DESC
OFFSET ((@Pin_PageNumber - 1) * @Pin_RowspPage) ROWS
FETCH NEXT @Pin_RowspPage ROWS ONLY
END












GO
/****** Object:  StoredProcedure [dbo].[GetAllTicketStatusLookup]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Arshad Ashraf
-- Create date: 23-01-2017
-- Description:	Get all ticket status Lookups
-- =============================================
CREATE PROCEDURE [dbo].[GetAllTicketStatusLookup]
AS
BEGIN
	SELECT 
		ID AS ID,
		STATUS_NAME AS Name
	FROM TICKET_STATUS
END













GO
/****** Object:  StoredProcedure [dbo].[GetAllVillages]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllVillages] 
	@AreaCode VARCHAR(50),
	@WilayatCode VARCHAR(50)
AS
BEGIN
	SELECT 
		VILLAGE_CODE VILLAGECODE,
		VILLAGE_DESC_ARB VILLAGENAMEAR,
		ISNULL(VILLAGE_DESC_ENG,VILLAGE_DESC_ARB) VILLAGENAME
	FROM VILLAGE_MASTER VM
	WHERE VM.AREA_CODE = @AreaCode and
		  VM.WILAYAT_CODE = @WilayatCode
END




GO
/****** Object:  StoredProcedure [dbo].[GetAllWilayats]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllWilayats]
	 @AreaCode VARCHAR(50)
AS
BEGIN
	 SELECT 
			WILAYAT_CODE WILAYATCODE,
			WILAYAT_DESC_ARB WILLAYATNAMEAR,
			ISNULL(WILAYAT_DESC_ENG,WILAYAT_DESC_ARB) WILLAYATNAME
	 FROM WILAYAT_MASTER
	 WHERE AREA_CODE = @AreaCode
END




GO
/****** Object:  StoredProcedure [dbo].[GetApplicationDetails]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get application details
-- =============================================
CREATE PROCEDURE [dbo].[GetApplicationDetails]
	@Pin_ApplicationId		int = NULL
AS
BEGIN
	SELECT 
		A.ID,
		A.APPLICATION_NAME,
		A.APPLICATION_LOGO_PATH,
		A.APPLICATION_TOKEN,
		A.DEFAULT_THEME_COLOR,
		A.IS_ACTIVE,
		(
			SELECT UD.FULL_NAME FROM USER_DETAILS UD
			INNER JOIN USERS U ON U.ID = UD.USER_ID
			WHERE U.APPLICATION_ID = A.ID AND U.USER_TYPE_ID = 2 -- Member 
		) MemberName
    FROM 
		 APPLICATIONS A
	WHERE
		( A.ID = @Pin_ApplicationId  OR @Pin_ApplicationId IS NULL )
END











GO
/****** Object:  StoredProcedure [dbo].[GetApplicationStatistics]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get all tickets
-- =============================================
CREATE PROCEDURE [dbo].[GetApplicationStatistics]
	@Pin_ApplicationId int
AS
BEGIN
	SELECT
		(
			SELECT COUNT(*) FROM USERS U WHERE U.APPLICATION_ID = A.ID AND U.USER_TYPE_ID = 4 --Mobile user
		)TotalMobileUserCount,
		(
			SELECT COUNT(*) FROM USERS U WHERE U.APPLICATION_ID = A.ID AND U.USER_TYPE_ID = 4 AND U.IS_BLOCKED = 1 -- Mobile blocked user
		)TotalMobileBlockedUserCount,
		(
			SELECT COUNT(*) FROM TICKETS T WHERE T.APPLICATION_ID = A.ID  -- Total ticket count
		)TotalTicketCount,
		(
			SELECT COUNT(*) FROM 
			TICKETS T WHERE T.APPLICATION_ID = A.ID AND T.TICKET_STATUS_ID = 1  -- Total open ticket count
		)TotalTicketOpenCount,
		(
			SELECT COUNT(*) FROM 
			TICKETS T WHERE T.APPLICATION_ID = A.ID AND T.TICKET_STATUS_ID = 2  -- Total closed ticket count
		)TotalTicketClosedCount,
		(
			SELECT COUNT(*) FROM 
			TICKET_CHAT_DETAILS TD
			INNER JOIN TICKETS T ON T.ID = TD.TICKET_ID 
			WHERE T.APPLICATION_ID = A.ID -- Total ticket chat count
		)TotalTicketChatCount,
		(
			SELECT UD.FULL_NAME FROM USER_DETAILS UD
			INNER JOIN USERS U ON U.ID = UD.USER_ID
			WHERE U.APPLICATION_ID = A.ID AND U.USER_TYPE_ID = 2 -- Member 
		) MemberName,
		A.ID,
		A.APPLICATION_NAME,
		A.APPLICATION_LOGO_PATH,
		A.APPLICATION_EXPIRY_DATE,
		A.DEFAULT_THEME_COLOR,
		A.IS_ACTIVE,
		A.CREATED_DATE,
		1 TotalCount 
    FROM 
		 APPLICATIONS A
	WHERE
		 A.ID = @Pin_ApplicationId
	
END












GO
/****** Object:  StoredProcedure [dbo].[GetApplicationUsers]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get application details
-- =============================================
CREATE PROCEDURE [dbo].[GetApplicationUsers]
	@Pin_ApplicationId		int = NULL,
	@Pin_UserId				int = NULL,
	@Pin_UserType			int = NULL,
	@Pin_UserSearch			varchar(100) = NULL,
	@Pin_PageNumber			INT = 1,
	@Pin_RowspPage			INT = 10
AS
BEGIN
	SELECT 
		TotalCount = COUNT(*) OVER(),
		U.*,
		UD.FULL_NAME,
		UD.ADDRESS,
		UD.CIVIL_ID,
		UD.AREA_ID,
		UD.WILAYAT_ID,
		UD.VILLAGE_ID,
		UD.OTP_NUMBER,
		UD.IS_OTP_VALIDATED,
		UD.SMS_SENT_STATUS,
		UD.LAST_LOGGED_IN_DATE,
		UD.IS_TICKET_SUBMISSION_RESTRICTED,
		UD.TICKET_SUBMISSION_INTERVAL_DAYS,
		UD.NO_OF_TIMES_OTP_SEND,
		UD.LAST_LOGGED_IN_DATE,
		UD.LAST_TICKET_SUBMISSION_DATE,
		UT.TYPE USER_TYPE_NAME,
		AM.AREA_DESC_ARB,
		AM.AREA_DESC_ENG,
		WM.WILAYAT_DESC_ARB,
		WM.WILAYAT_DESC_ENG,
		VM.VILLAGE_DESC_ARB,
		VM.VILLAGE_DESC_ENG
    FROM 
		 USERS U
	INNER JOIN USER_DETAILS UD ON UD.USER_ID = U.ID
	INNER JOIN USER_TYPES UT ON UT.ID = U.USER_TYPE_ID AND UT.ID != 1 -- Admin Type
	LEFT JOIN AREA_MASTER AM ON AM.ID = UD.AREA_ID
	LEFT JOIN WILAYAT_MASTER WM ON WM.ID = UD.WILAYAT_ID
	LEFT JOIN VILLAGE_MASTER VM ON VM.ID = UD.VILLAGE_ID
	WHERE
		( U.APPLICATION_ID = @Pin_ApplicationId  OR @Pin_ApplicationId IS NULL ) and
		( U.ID = @Pin_UserId  OR @Pin_UserId IS NULL ) and
		( U.USER_TYPE_ID = @Pin_UserType  OR @Pin_UserType IS NULL ) and
		( @Pin_UserSearch IS NULL OR ( U.USER_NAME LIKE '%' + @Pin_UserSearch + '%' OR
									 U.PHONE_NUMBER LIKE '%' + @Pin_UserSearch + '%' OR
									 U.EMAIL LIKE '%' + @Pin_UserSearch + '%' OR
									 UD.FULL_NAME LIKE '%' + @Pin_UserSearch + '%'))
	GROUP BY
		U.ID,
		U.USER_NAME,
		U.PASSWORD,
		U.USER_TYPE_ID,
		U.PHONE_NUMBER,
		U.EMAIL,
		U.APPLICATION_ID,
		U.IS_ACTIVE,
		U.IS_BLOCKED,
		U.BLOCKED_REMARKS,
		U.CREATED_BY,
		U.CREATED_DATE,
		U.MODIFIED_BY,
		U.MODIFIED_DATE,
		UD.FULL_NAME,
		UD.ADDRESS,
		UD.CIVIL_ID,
		UD.AREA_ID,
		UD.WILAYAT_ID,
		UD.VILLAGE_ID,
		UD.OTP_NUMBER,
		UD.IS_OTP_VALIDATED,
		UD.SMS_SENT_STATUS,
		UD.LAST_LOGGED_IN_DATE,
		UD.IS_TICKET_SUBMISSION_RESTRICTED,
		UD.TICKET_SUBMISSION_INTERVAL_DAYS,
		UD.NO_OF_TIMES_OTP_SEND,
		UD.LAST_LOGGED_IN_DATE,
		UD.LAST_TICKET_SUBMISSION_DATE,
		UT.TYPE,
		AM.AREA_DESC_ARB,
		AM.AREA_DESC_ENG,
		WM.WILAYAT_DESC_ARB,
		WM.WILAYAT_DESC_ENG,
		VM.VILLAGE_DESC_ARB,
		VM.VILLAGE_DESC_ENG
	ORDER BY U.ID DESC
OFFSET ((@Pin_PageNumber - 1) * @Pin_RowspPage) ROWS
FETCH NEXT @Pin_RowspPage ROWS ONLY
END











GO
/****** Object:  StoredProcedure [dbo].[GetEventsByDate]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetEventsByDate] 
	      @Pin_Eventdate DATE,
		  @Pin_ApplicationId INT

AS
BEGIN
SELECT
	[ID]
      ,[APPLICATION_ID]
      ,[EVENT_NAME]
      ,[EVENT_DESCRIPTION]
      ,[EVENT_DATE]
      ,[EVENT_LOCATION_NAME]
      ,[EVENT_LATITUDE]
      ,[EVENT_LONGITUDE]
      ,[IS_ACTIVE]
	  FROM [Takamul].[dbo].[EVENTS]
		WHERE EVENT_DATE=@Pin_Eventdate AND APPLICATION_ID = @Pin_ApplicationId
		ORDER BY EVENT_DATE ASC
END




GO
/****** Object:  StoredProcedure [dbo].[GetMobileAppUserInfo]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get mobile application user information
-- =============================================
CREATE PROCEDURE [dbo].[GetMobileAppUserInfo]
	@Pin_UserId		int = NULL
AS
BEGIN
	SELECT 
		U.ID,
		U.APPLICATION_ID,
		U.PHONE_NUMBER,
		U.EMAIL,
		U.IS_ACTIVE,
		U.IS_BLOCKED,
		U.BLOCKED_REMARKS,
		UD.FULL_NAME,
		UD.CIVIL_ID,
		UD.ADDRESS,
		UD.IS_OTP_VALIDATED,
		UD.SMS_SENT_STATUS,
		UD.IS_TICKET_SUBMISSION_RESTRICTED,
		UD.TICKET_SUBMISSION_INTERVAL_DAYS,
		UD.LAST_TICKET_SUBMISSION_DATE
    FROM 
		 USERS U
	INNER JOIN USER_DETAILS UD ON UD.USER_ID = U.ID
	WHERE
		( U.ID = @Pin_UserId  OR @Pin_UserId IS NULL )
END











GO
/****** Object:  StoredProcedure [dbo].[GetTicketChats]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get ticket chat details
-- =============================================
CREATE PROCEDURE [dbo].[GetTicketChats]
	@Pin_TicketId			int
AS
BEGIN
	SELECT 
		TCD.ID,
		TCD.TICKET_ID,
		TCD.REPLY_MESSAGE,
		TCD.REPLIED_DATE,
		TCD.REPLY_FILE_PATH,
		TCD.TICKET_PARTICIPANT_ID,
		TCD.TICKET_CHAT_TYPE_ID,
		TCT.CHAT_TYPE,
		UD.FULL_NAME PARTICIPANT_FULL_NAME
    FROM 
		 TICKET_CHAT_DETAILS TCD
	INNER JOIN TICKET_CHAT_TYPES TCT ON TCT.ID = TCD.TICKET_CHAT_TYPE_ID
	INNER JOIN TICKET_PARTICIPANTS TP ON TP.ID = TCD.TICKET_PARTICIPANT_ID
	INNER JOIN USERS U ON U.ID = TP.USER_ID
	left JOIN USER_DETAILS UD ON UD.USER_ID = U.ID
	WHERE
		( TCD.TICKET_ID = @Pin_TicketId  OR @Pin_TicketId IS NULL )
	ORDER BY TCD.ID asc
END











GO
/****** Object:  StoredProcedure [dbo].[GetTop5TicketsByStatus]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 31-03-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Get all tickets
-- =============================================
CREATE PROCEDURE [dbo].[GetTop5TicketsByStatus]
	@Pin_ApplicationId			int = NULL,
	@Pin_TicketStatusId			int
AS
BEGIN
	SELECT TOP 5 
		T.ID,
		T.APPLICATION_ID,
		T.TICKET_CODE,
		T.TICKET_NAME,
		T.TICKET_STATUS_ID,
		T.DEFAULT_IMAGE,
		T.IS_ACTIVE,
		T.TICKET_DESCRIPTION,
		T.TICKET_STATUS_REMARK,
		T.CREATED_BY,
		T.CREATED_DATE,
		TS.STATUS_NAME TICKET_STATUS_NAME,
		(
			SELECT top 1 UD.FULL_NAME FROM USER_DETAILS UD
			INNER JOIN USERS U ON U.ID = UD.USER_ID
			INNER JOIN TICKET_PARTICIPANTS TP ON TP.USER_ID = U.ID AND TP.TICKET_ID = T.ID
			WHERE U.APPLICATION_ID = T.APPLICATION_ID AND U.USER_TYPE_ID = 4 -- Mobile User 
		) MobileParticipantName,
		(
			SELECT top 1  TD.REPLY_MESSAGE FROM TICKET_CHAT_DETAILS TD
		    WHERE TD.TICKET_ID = T.ID AND TD.CREATED_DATE = (SELECT MAX(TDD.CREATED_DATE) FROM TICKET_CHAT_DETAILS TDD WHERE TDD.TICKET_ID = T.ID AND  TDD.TICKET_CHAT_TYPE_ID = 1) -- Text chat 
		) LastTicketChatMessage,
		(
			SELECT top 1  TD.REPLIED_DATE FROM TICKET_CHAT_DETAILS TD
		    WHERE TD.TICKET_ID = T.ID AND TD.CREATED_DATE = (SELECT MAX(TDD.CREATED_DATE) FROM TICKET_CHAT_DETAILS TDD WHERE TDD.TICKET_ID = T.ID AND  TDD.TICKET_CHAT_TYPE_ID = 1) -- Text chat 
		) LastTicketChatCreatedDate
    FROM 
		 TICKETS T
	INNER JOIN TICKET_STATUS TS ON TS.ID = T.TICKET_STATUS_ID
	WHERE
		( T.APPLICATION_ID = @Pin_ApplicationId  OR @Pin_ApplicationId IS NULL ) and
		( T.TICKET_STATUS_ID = @Pin_TicketStatusId  OR @Pin_TicketStatusId IS NULL )

	ORDER BY T.ID DESC
	
END












GO
/****** Object:  StoredProcedure [dbo].[Inc_GetAllActiveEvents]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inc_GetAllActiveEvents]
	@ApplicationID INT,
	@EventID	INT = NULL
AS
BEGIN
	 
	SELECT 
	ID EVENTID, 
	APPLICATION_ID APPLID,
	EVENT_NAME EVENTNAME,
	EVENT_DESCRIPTION EVENTDESCRIPTION,
	EVENT_DATE EVENTDATE,
	EVENT_LOCATION_NAME LOCATIONNAME,
	EVENT_LATITUDE LATITUDE,
	EVENT_LONGITUDE LONGITUDE,
	CREATED_BY CREATEDBY,
	CREATED_DATE CRETEDDATE,
	MODIFIED_BY MODIFIEDBY,
	MODIFIED_DATE MODIFIEDDATE
	FROM dbo.EVENTS  EN
	WHERE EN.APPLICATION_ID = @ApplicationID AND
	( EN.ID = @EventID  OR @EventID IS NULL )

	
END



GO
/****** Object:  StoredProcedure [dbo].[InsertMobileUser]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Insert incident declaration
-- =============================================
CREATE PROCEDURE [dbo].[InsertMobileUser]
	-- Add the parameters for the stored procedure here
	@Pin_ApplicationId		int,
	@Pin_UserTypeId			int,
	@Pin_FullName			varchar(100),
	@Pin_PhoneNumber		varchar(50),
	@Pin_Email				varchar(50) = null,
	@Pin_CivilID			varchar(50) = null,
	@Pin_Address			varchar(300) = null,
	@Pin_AreaId				int = null,
	@Pin_WilayatId			int = null,
	@Pin_VillageId			int = null,
	@Pin_OTPNumber			int,
	@Pout_UserID			int output,
	@Pout_Error				int output
AS
BEGIN
DECLARE @v_UserID		 int;

BEGIN TRANSACTION    -- Start the transaction
BEGIN TRY
	
	--Insert into user table
	INSERT INTO USERS
	(
		USER_TYPE_ID,
		APPLICATION_ID,
		PHONE_NUMBER,
		EMAIL,
		IS_ACTIVE,
		CREATED_DATE
	) 
	VALUES
	(
		@Pin_UserTypeId,
		@Pin_ApplicationId,
		@Pin_PhoneNumber,
		@Pin_Email,
		1, -- Is Active
		GETDATE()
	) 
	
	-- Select inserted user id
	SELECT @v_UserID = SCOPE_IDENTITY()

	--Insert into user table
	INSERT INTO USER_DETAILS
	(
		USER_ID,
		FULL_NAME,
		ADDRESS,
		AREA_ID,
		WILAYAT_ID,
		VILLAGE_ID,
		OTP_NUMBER,
		NO_OF_TIMES_OTP_SEND,
		CREATED_DATE
	) 
	VALUES
	(
		@v_UserID,
		@Pin_FullName,
		@Pin_Address,
		@Pin_AreaId,
		@Pin_WilayatId,
		@Pin_VillageId,
		@Pin_OTPNumber,
		1,
		GETDATE()
	) 
	
	--Returning Inserted UserID And Success Status
	set @Pout_UserID = @v_UserID;
	set @Pout_Error = 1;
END TRY
BEGIN CATCH
		-- Writing Error Log to database
		declare @errorProc nvarchar(200),@errroDesc nvarchar(max);
		select @errorProc = ERROR_PROCEDURE();
		select @errroDesc = ERROR_MESSAGE();
		EXEC usp_LogErrors @errorProc,@errroDesc;
		set @Pout_Error = 0;
END CATCH 
IF @@ERROR <> 0
  ROLLBACK
ELSE
  COMMIT   -- Success!  Commit the transaction

END












GO
/****** Object:  StoredProcedure [dbo].[InsertTicket]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Insert Ticket
-- =============================================
CREATE PROCEDURE [dbo].[InsertTicket]
	-- Add the parameters for the stored procedure here
	@Pin_ApplicationId		int,
	@Pin_UserId				int,
	@Pin_TicketName			varchar(300),
	@Pin_TicketDesciption	varchar(5000),
	@Pin_DefaultImagePath	varchar(500) = null,
	@Pout_TicketID			int output,
	@Pout_Error				int output
AS
BEGIN
DECLARE @v_TicketID		 int;

BEGIN TRANSACTION    -- Start the transaction
BEGIN TRY
	
	--Insert into ticket table
	INSERT INTO TICKETS
	(
		APPLICATION_ID,
		TICKET_NAME,
		TICKET_DESCRIPTION,
		DEFAULT_IMAGE,
		TICKET_STATUS_ID,
		IS_ACTIVE,
		CREATED_DATE
	) 
	VALUES
	(
		@Pin_ApplicationId,
		@Pin_TicketName,
		@Pin_TicketDesciption,
		@Pin_DefaultImagePath,
		1,-- Status -> Open
		1, -- Is Active
		GETDATE()
	) ;

	-- Select ticket id
	SELECT @v_TicketID = SCOPE_IDENTITY()
	
	-- Create default image file path 
	IF @Pin_DefaultImagePath IS NOT NULL
	BEGIN
		UPDATE TICKETS 
		SET DEFAULT_IMAGE = CONCAT(@Pin_ApplicationId,'/',@v_TicketID,'/',@Pin_DefaultImagePath)
		WHERE ID = @v_TicketID;
	END;


	--Insert into ticket participant table
	INSERT INTO TICKET_PARTICIPANTS
	(
		TICKET_ID,
		USER_ID
	) 
	VALUES
	(
		@v_TicketID,
		@Pin_UserId
	);

	-- Update last created ticket date into user table
	UPDATE USER_DETAILS
	SET LAST_TICKET_SUBMISSION_DATE = GETDATE()
	WHERE USER_ID = @Pin_UserId
	
	set @Pout_Error = 1;
	set @Pout_TicketID = @v_TicketID;
END TRY
BEGIN CATCH
		-- Writing Error Log to database
		declare @errorProc nvarchar(200),@errroDesc nvarchar(max);
		select @errorProc = ERROR_PROCEDURE();
		select @errroDesc = ERROR_MESSAGE();
		EXEC usp_LogErrors @errorProc,@errroDesc;
		set @Pout_Error = 0;
END CATCH 
IF @@ERROR <> 0
  ROLLBACK
ELSE
  COMMIT   -- Success!  Commit the transaction

END












GO
/****** Object:  StoredProcedure [dbo].[InsertTicketChat]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Insert Ticket Chat
-- =============================================
CREATE PROCEDURE [dbo].[InsertTicketChat]
	-- Add the parameters for the stored procedure here
	@Pin_TicketId				int,
	@Pin_Ticket_Participant_Id	int,
	@Pin_ReplyMessage			nvarchar(max),
	@Pin_ReplyFilePath			varchar(500) = null,
	@Pin_TicketChatTypeId		int,
	@Pout_Error					int output
AS
BEGIN
DECLARE @v_UserID		 int;

BEGIN TRANSACTION    -- Start the transaction
BEGIN TRY
	
	--Insert into ticket table
	INSERT INTO TICKET_CHAT_DETAILS
	(
		TICKET_ID,
		REPLY_MESSAGE,
		REPLIED_DATE,
		REPLY_FILE_PATH,
		TICKET_PARTICIPANT_ID,
		TICKET_CHAT_TYPE_ID,
		CREATED_DATE
	) 
	VALUES
	(
		@Pin_TicketId,
		@Pin_ReplyMessage,
		GETDATE(),
		@Pin_ReplyFilePath,
		@Pin_Ticket_Participant_Id,
		@Pin_TicketChatTypeId,
		GETDATE()
	) 

	set @Pout_Error = 1;
END TRY
BEGIN CATCH
		-- Writing Error Log to database
		declare @errorProc nvarchar(200),@errroDesc nvarchar(max);
		select @errorProc = ERROR_PROCEDURE();
		select @errroDesc = ERROR_MESSAGE();
		EXEC usp_LogErrors @errorProc,@errroDesc;
		set @Pout_Error = 0;
END CATCH 
IF @@ERROR <> 0
  ROLLBACK
ELSE
  COMMIT   -- Success!  Commit the transaction

END












GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Insert mobile user
-- =============================================
CREATE PROCEDURE [dbo].[InsertUser]
	-- Add the parameters for the stored procedure here
	@Pin_ApplicationId		int,
	@Pin_UserTypeId			int,
	@Pin_UserName			varchar(50),
	@Pin_Password			varchar(50),
	@Pin_FullName			varchar(100),
	@Pin_PhoneNumber		varchar(50),
	@Pin_Email				varchar(50) = null,
	@Pin_CivilID			varchar(50) = null,
	@Pin_Address			varchar(300) = null,
	@Pin_AreaId				int = null,
	@Pin_WilayatId			int = null,
	@Pin_VillageId			int = null,
	@Pin_CreatedBy			int = null,
	@Pout_UserID			int output,
	@Pout_Error				int output
AS
BEGIN
DECLARE @v_UserID		 int;

BEGIN TRANSACTION    -- Start the transaction
BEGIN TRY
	
	--Insert into user table
	INSERT INTO USERS
	(
		USER_NAME,
		PASSWORD,
		USER_TYPE_ID,
		APPLICATION_ID,
		PHONE_NUMBER,
		EMAIL,
		IS_ACTIVE,
		CREATED_BY,
		CREATED_DATE
	) 
	VALUES
	(
		@Pin_UserName,
		@Pin_Password,
		@Pin_UserTypeId,
		@Pin_ApplicationId,
		@Pin_PhoneNumber,
		@Pin_Email,
		1, -- Is Active
		@Pin_CreatedBy,
		GETDATE()
	) 
	
	-- Select inserted user id
	SELECT @v_UserID = SCOPE_IDENTITY()

	--Insert into user table
	INSERT INTO USER_DETAILS
	(
		USER_ID,
		FULL_NAME,
		ADDRESS,
		AREA_ID,
		WILAYAT_ID,
		VILLAGE_ID,
		CREATED_BY,
		CREATED_DATE
	) 
	VALUES
	(
		@v_UserID,
		@Pin_FullName,
		@Pin_Address,
		@Pin_AreaId,
		@Pin_WilayatId,
		@Pin_VillageId,
		@Pin_CreatedBy,
		GETDATE()
	) 
	
	--Returning Inserted UserID And Success Status
	set @Pout_UserID = @v_UserID;
	set @Pout_Error = 1;
END TRY
BEGIN CATCH
		-- Writing Error Log to database
		declare @errorProc nvarchar(200),@errroDesc nvarchar(max);
		select @errorProc = ERROR_PROCEDURE();
		select @errroDesc = ERROR_MESSAGE();
		EXEC usp_LogErrors @errorProc,@errroDesc;
		set @Pout_Error = 0;
END CATCH 
IF @@ERROR <> 0
  ROLLBACK
ELSE
  COMMIT   -- Success!  Commit the transaction

END












GO
/****** Object:  StoredProcedure [dbo].[ResendOPTNumber]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Resend otp number
-- =============================================
CREATE PROCEDURE [dbo].[ResendOPTNumber]
	-- Add the parameters for the stored procedure here
	@Pin_UserId				int,
	@Pin_OTPNumber			int,
	@Pout_Error				int output
AS
BEGIN
DECLARE @v_Count		 int;

BEGIN TRANSACTION    -- Start the transaction
BEGIN TRY
	SELECT @v_Count = NO_OF_TIMES_OTP_SEND
	FROM USER_DETAILS 
	WHERE USER_ID = @Pin_UserId;
	
	-- Maximum attempt 5 times exceeded
	if(@v_Count > 5)
	begin
		set @Pout_Error = -2;
		return;
	end

	SELECT @v_Count = COUNT(1) 
	FROM USER_DETAILS 
	WHERE USER_ID = @Pin_UserId AND OTP_NUMBER = @Pin_OTPNumber

	if(@v_Count > 0)
	begin
		--Update otp & verified status 
		UPDATE USER_DETAILS
		SET 
			OTP_NUMBER = @Pin_OTPNumber,
			IS_OTP_VALIDATED = 0,
			NO_OF_TIMES_OTP_SEND = NO_OF_TIMES_OTP_SEND + 1
		WHERE USER_ID = @Pin_UserId
		
		set @Pout_Error = 1;
	end
	else
	begin
		set @Pout_Error = 0;
	end
END TRY
BEGIN CATCH
		-- Writing Error Log to database
		declare @errorProc nvarchar(200),@errroDesc nvarchar(max);
		select @errorProc = ERROR_PROCEDURE();
		select @errroDesc = ERROR_MESSAGE();
		EXEC usp_LogErrors @errorProc,@errroDesc;
		set @Pout_Error = 0;
END CATCH 
IF @@ERROR <> 0
  ROLLBACK
ELSE
  COMMIT   -- Success!  Commit the transaction

END












GO
/****** Object:  StoredProcedure [dbo].[UpdateProfileInformation]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Insert incident declaration
-- =============================================
CREATE PROCEDURE [dbo].[UpdateProfileInformation]
	-- Add the parameters for the stored procedure here
	@Pin_UserId				int,
	@Pin_FullName			varchar(100),
	@Pin_PhoneNumber		varchar(50),
	@Pin_Email				varchar(50) = null,
	@Pin_CivilID			varchar(50),
	@Pin_Address			varchar(300) = null,
	@Pin_AreaId				int = null,
	@Pin_WilayatId			int = null,
	@Pin_VillageId			int = null,
	@Pin_TicketSubmissionIntervalDays int = null,
	@Pin_IsTicketSubmissionRestricted int,
	@Pin_ModifiedBy			int = null,
	@Pout_Error				int output
AS
BEGIN TRY
	BEGIN TRANSACTION    -- Start the transaction
	
	--Insert into user table
	UPDATE USERS
	SET
		PHONE_NUMBER = @Pin_PhoneNumber,
		EMAIL = @Pin_Email,
		MODIFIED_BY = @Pin_ModifiedBy,
		MODIFIED_DATE = GETDATE()
	WHERE 
		ID = @Pin_UserId;

	UPDATE USER_DETAILS
	SET
		FULL_NAME = @Pin_FullName,
		ADDRESS = @Pin_Address,
		AREA_ID = @Pin_AreaId,
		WILAYAT_ID = @Pin_WilayatId,
		VILLAGE_ID = @Pin_VillageId,
		IS_TICKET_SUBMISSION_RESTRICTED = @Pin_IsTicketSubmissionRestricted,
		TICKET_SUBMISSION_INTERVAL_DAYS = @Pin_TicketSubmissionIntervalDays,
		MODIFIED_BY = @Pin_ModifiedBy,
		MODIFIED_DATE = GETDATE()
	WHERE 
		ID = @Pin_UserId;
	
	--Returning Success Status
	set @Pout_Error = 1;

	COMMIT TRANSACTION  -- Success!  Commit the transaction
END TRY
BEGIN CATCH
		 IF XACT_STATE() <> 0 
			ROLLBACK TRANSACTION
		
		-- Writing Error Log to database
		declare @errorProc nvarchar(500),@errroDesc nvarchar(max);
		select @errorProc = ERROR_PROCEDURE();
		select @errroDesc = ERROR_MESSAGE();
		EXEC usp_LogErrors @errorProc,@errroDesc;
		set @Pout_Error = 0;
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[UpdateTicket]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Insert incident declaration
-- =============================================
CREATE PROCEDURE [dbo].[UpdateTicket]
	-- Add the parameters for the stored procedure here
	@Pin_TicketId			int,
	@Pin_TicketStatusID		int,
	@Pin_IsActive			bit,
	@Pin_StatusRemark		varchar(1000) = null,
	@Pin_ModifiedBy			int = null,
	@Pout_Error				int output
AS
BEGIN TRY
	BEGIN TRANSACTION    -- Start the transaction

	UPDATE TICKETS
	SET
		TICKET_STATUS_ID = @Pin_TicketStatusID,
		IS_ACTIVE = @Pin_IsActive,
		TICKET_STATUS_REMARK = @Pin_StatusRemark,
		MODIFIED_BY = @Pin_ModifiedBy,
		MODIFIED_DATE = GETDATE()
	WHERE 
		ID = @Pin_TicketId;
	
	--Returning Success Status
	set @Pout_Error = 1;

	COMMIT TRANSACTION  -- Success!  Commit the transaction
END TRY
BEGIN CATCH
		 IF XACT_STATE() <> 0 
			ROLLBACK TRANSACTION
		
		-- Writing Error Log to database
		declare @errorProc nvarchar(500),@errroDesc nvarchar(max);
		select @errorProc = ERROR_PROCEDURE();
		select @errroDesc = ERROR_MESSAGE();
		EXEC usp_LogErrors @errorProc,@errroDesc;
		set @Pout_Error = 0;
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserPassword]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Insert incident declaration
-- =============================================
CREATE PROCEDURE [dbo].[UpdateUserPassword]
	-- Add the parameters for the stored procedure here
	@Pin_UserId				int,
	@Pin_Password			varchar(50),
	@Pin_ModifiedBy			int = null,
	@Pout_Error				int output
AS
BEGIN TRY
	BEGIN TRANSACTION    -- Start the transaction

	UPDATE USERS
	SET
		PASSWORD = @Pin_Password,
		MODIFIED_BY = @Pin_ModifiedBy,
		MODIFIED_DATE = GETDATE()
	WHERE 
		ID = @Pin_UserId;
	
	--Returning Success Status
	set @Pout_Error = 1;

	COMMIT TRANSACTION  -- Success!  Commit the transaction
END TRY
BEGIN CATCH
		 IF XACT_STATE() <> 0 
			ROLLBACK TRANSACTION
		
		-- Writing Error Log to database
		declare @errorProc nvarchar(500),@errroDesc nvarchar(max);
		select @errorProc = ERROR_PROCEDURE();
		select @errroDesc = ERROR_MESSAGE();
		EXEC usp_LogErrors @errorProc,@errroDesc;
		set @Pout_Error = 0;
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[UserLogin]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserLogin] 
	-- Add the parameters for the stored procedure here
	@UserName as varchar(50), 
	@Password as varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
			U.ID as [ID], 
			USER_NAME ,
			UT.TYPE USER_TYPE_NAME,
		    U.USER_TYPE_ID,
			U.APPLICATION_ID,
			UD.FULL_NAME
	FROM DBO.USERS U
	INNER JOIN USER_DETAILS UD ON UD.USER_ID = U.ID
	INNER JOIN dbo.USER_TYPES UT ON UT.ID = U.USER_TYPE_ID 
	WHERE U.USER_NAME= @UserName AND U.PASSWORD = @Password
END



GO
/****** Object:  StoredProcedure [dbo].[usp_LogErrors]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Database log insert
-- =============================================
CREATE PROCEDURE [dbo].[usp_LogErrors]
(
	@Pin_SPName  nvarchar(500),
	@Pin_Error_Desc  nvarchar(max)
)
AS
BEGIN
	INSERT INTO DB_Logs
	(
		SP_Name
		,Error_Desc
		,Created_Date
	)
	VALUES
	(
		@Pin_SPName
		,@Pin_Error_Desc
		,GETDATE()
	);		 
END;













GO
/****** Object:  StoredProcedure [dbo].[ValidateOPTNumber]    Script Date: 5/13/2017 11:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Arshad Ashraf
-- Create date	: 18-01-2017
-- Modified date: --
-- Modified By	: --
-- Description	: Validate user entered otp number
-- =============================================
CREATE PROCEDURE [dbo].[ValidateOPTNumber]
	-- Add the parameters for the stored procedure here
	@Pin_UserId				int,
	@Pin_OTPNumber			int,
	@Pout_Error				int output
AS
BEGIN
DECLARE @v_Count		 int;

BEGIN TRANSACTION    -- Start the transaction
BEGIN TRY
	
	SELECT @v_Count = COUNT(1) 
	FROM USER_DETAILS 
	WHERE USER_ID = @Pin_UserId AND OTP_NUMBER = @Pin_OTPNumber

	if(@v_Count > 0)
	begin
		--Update otp verified status 
		UPDATE USER_DETAILS
		SET IS_OTP_VALIDATED = 1
		WHERE USER_ID = @Pin_UserId
		
		set @Pout_Error = 1;
	end
	else
	begin
		set @Pout_Error = 0;
	end
END TRY
BEGIN CATCH
		-- Writing Error Log to database
		declare @errorProc nvarchar(200),@errroDesc nvarchar(max);
		select @errorProc = ERROR_PROCEDURE();
		select @errroDesc = ERROR_MESSAGE();
		EXEC usp_LogErrors @errorProc,@errroDesc;
		set @Pout_Error = 0;
END CATCH 
IF @@ERROR <> 0
  ROLLBACK
ELSE
  COMMIT   -- Success!  Commit the transaction

END












GO
